<div>
    <div class="flex-container">
        <div class="flex-container__block1">
            <button class="button" type="button" ng-click="createUser()">Create User</button>
        </div>
        
        <div class="flex-container__block2"></div>
    </div>

    <div class="flex-container">
        <div class="flex-container__block1">
            <div class="table">
                <div class="table__row table__header">
                    <div class="table__cell">Username</div>
                    <div class="table__cell">First Name</div>
                    <div class="table__cell">Last Name</div>
                    <div class="table__cell">Email</div>
                    <div class="table__cell">Type</div>
                </div>
        
                <div class="table__body">
                    <div class="table__row" ng-repeat="user in users track by user.id" ng-click="editUser(user)">
                        <div class="table__cell">{{ user.username }}</div>
                        <div class="table__cell">{{ user.first_name }}</div>
                        <div class="table__cell">{{ user.last_name }}</div>
                        <div class="table__cell">{{ user.email }}</div>
                        <div class="table__cell">{{ user.type.name }}</div>
                    </div>
                </div>
            </div>
        </div>
        
        <div class="flex-container__block2">
            <form class="user-form" name="userForm" 
                ng-show="mode" 
                ng-submit="saveUser()" novalidate>

                <div class="user-form__title">
                    {{ mode === 'create' ? 'Create new user' : selectedUser.first_name + ' ' + selectedUser.last_name }}
                    <div class="button-close" ng-click="closeEdit()"></div>
                </div>

                <div class="user-form__group">
                    <label class="user-form__label" for="username">Username*</label>
                    <input class="user-form__input" type="text" placeholder="Qwerty123" name="username" maxlength="20" check-username="selectedUser" required highlight-error 
                        ng-model="selectedUser.username">

                    <div ng-if="userForm.$submitted" ng-messages="userForm.username.$error" for="username" class="user-form__error-box">
                        <span class="user-form__error-message" ng-message="required">Username is required</span>
                        <span class="user-form__error-message" ng-message="maxlength">Max 20 characters allowed</span>
                        <span class="user-form__error-message" ng-message="exists">Username already registred</span>
                    </div>
                </div>

                <div class="user-form__group">
                    <label class="user-form__label" for="first_name">First Name*</label>
                    <input class="user-form__input" type="text" placeholder="Qwerty123" name="first_name" maxlength="20" required highlight-error 
                        ng-model="selectedUser.first_name">

                    <div ng-if="userForm.$submitted" ng-messages="userForm.first_name.$error" for="first_name" class="user-form__error-box">
                        <span class="user-form__error-message" ng-message="required">First name is required</span>
                        <span class="user-form__error-message" ng-message="maxlength">Max 20 characters allowed</span>
                    </div>
                </div>

                <div class="user-form__group">
                    <label class="user-form__label" for="last_name">Last Name*</label>
                    <input class="user-form__input" type="text" placeholder="Qwerty123" name="last_name" maxlength="20" required highlight-error 
                        ng-model="selectedUser.last_name">

                    <div ng-if="userForm.$submitted" ng-messages="userForm.last_name.$error" for="last_name" class="user-form__error-box">
                        <span class="user-form__error-message" ng-message="required">Last name is required</span>
                        <span class="user-form__error-message" ng-message="maxlength">Max 20 characters allowed</span>
                    </div>
                </div>

                <div class="user-form__group">
                    <label class="user-form__label" for="email">Email*</label>
                    <input class="user-form__input" type="email" placeholder="example@mail.com" name="email" required highlight-error ng-model="selectedUser.email"/>

                    <div ng-if="userForm.$submitted" ng-messages="userForm.email.$error" for="email" class="user-form__error-box">
                        <span class="user-form__error-message" ng-message="required">Email is required</span>
                        <span class="user-form__error-message" ng-message="email">Not valid email address</span>
                    </div>
                </div>

                <div class="user-form__group">
                    <label class="user-form__label" for="user_type">Type*</label>
                    <select class="user-form__input" name="user_type" id="" 
                        ng-model="selectedUser.type" 
                        ng-options="option.name for option in options track by option.value">
                    </select>
                </div>

                <div class="user-form__group">
                    <label class="user-form__label" for="password">Password*</label>
                    <input class="user-form__input" type="password" name="password" minlength="8" maxlength="32" password-strength required highlight-error 
                        ng-model="selectedUser.password">

                    <div ng-if="userForm.$submitted" ng-messages="userForm.password.$error" for="password" class="user-form__error-box">
                        <span class="user-form__error-message" ng-message="required">Password is required</span>
                        <span class="user-form__error-message" ng-message="strong">Password should have at least 1 number & 1 letter</span>
                        <span class="user-form__error-message" ng-message="minlength">Min 8 characters</span>
                        <span class="user-form__error-message" ng-message="maxlength">Max 32 characters allowed</span>
                    </div>
                </div>

                <div class="user-form__group">
                    <label class="user-form__label" for="password_confirm">Repeat password*</label>
                    <input class="user-form__input" type="password" name="password_confirm" required password-confirm="selectedUser.password" ng-model="selectedUser.password_confirmation" highlight-error/>

                    <div ng-if="userForm.$submitted" ng-messages="userForm.password_confirm.$error" for="password_confirm" class="user-form__error-box">
                        <span class="user-form__error-message" ng-message="required">Password confirm is required</span>
                        <span class="user-form__error-message" ng-message="match">Passwords don't match</span>
                    </div>
                </div>

                <div class="user-form__buttons" ng-if="mode == 'edit'">
                    <button class="button button--danger" type="button" ng-click="deleteUser($event)" ng-disabled="processing">Delete</button>
                    <button class="button" type="submit" ng-disabled="processing">Save</button>
                </div>

                <div class="user-form__buttons user-form__buttons--content-center" ng-if="mode == 'create'">
                    <button class="button" type="submit" ng-disabled="processing">Create</button>
                </div>
            </form>
        </div>
    </div>   
</div>