<div class="modal fade slide-right disable-scroll in">
	<div class="modal__backdrop avatar-modal__backdrop">
		<div class="modal-dialog">
			<div class="modal-content-wrapper modal-wide avatar-modal" 
                 tw-click-outside="close()" 
                 ng-class="{ 'avatar-modal--outter': state.includes('signedout') }">
				<div class="modal-content">
<!--
					<button type="button" class="close" 
                            ng-click="close()">
                        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24"><path fill="none" d="M0 0h24v24H0V0z"/><path d="M19 6.41L17.59 5 12 10.59 6.41 5 5 6.41 10.59 12 5 17.59 6.41 19 12 13.41 17.59 19 19 17.59 13.41 12 19 6.41z"/></svg>
                    </button>
-->
                    
					<div class="modal-body">
						<div class="ot-croparea__container">
                            <div class="bold">Pick avatar visible area</div>
                            <div class="ot-croparea">
                                <div class="relative" id="modal-cropper">
                                    <div class="lds-roller ot--talent-color" 
                                         ng-class="{ 'ot--outter-color': state.includes('signedout') }" 
                                         ng-if="spinner"><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div></div>
                                </div>
                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" ng-click="rotateImg()" class="ot-croparea--rotate-btn"><path fill="none" d="M0 0h24v24H0V0z"/><path d="M7.11 8.53L5.7 7.11C4.8 8.27 4.24 9.61 4.07 11h2.02c.14-.87.49-1.72 1.02-2.47zM6.09 13H4.07c.17 1.39.72 2.73 1.62 3.89l1.41-1.42c-.52-.75-.87-1.59-1.01-2.47zm1.01 5.32c1.16.9 2.51 1.44 3.9 1.61V17.9c-.87-.15-1.71-.49-2.46-1.03L7.1 18.32zM13 4.07V1L8.45 5.55 13 10V6.09c2.84.48 5 2.94 5 5.91s-2.16 5.43-5 5.91v2.02c3.95-.49 7-3.85 7-7.93s-3.05-7.44-7-7.93z"/></svg>
                            </div>
                        </div>
					</div>
                    
                    <div class="ot-btn__container ot-btn_rounded-bottom ot-btn__talent-color" ng-if="state.includes('signedin')">
                        <md-button class="ot-btn ot-btn__hlf ot-btn__talent-color ot-btn__hlf-left center box--border-right" 
                                   ng-click="close()" 
                                   ng-disabled="loader.loading || spinner">
                            Cancel
                        </md-button>
                        <md-button class="ot-btn ot-btn__hlf ot-btn__talent-color ot-btn__hlf-right center" 
                                   ng-click="saveCrop()" 
                                   ng-disabled="loader.loading || spinner">
                            Save
                        </md-button>
                    </div>
                    
                    <div class="ot-btn__container" ng-if="state.includes('signedout')">
                        <md-button class="outter__btn" 
                                   ng-click="close()" 
                                   ng-disabled="loader.loading || spinner">
                            Cancel
                        </md-button>
                        <md-button class="outter__btn" 
                                   ng-click="saveCrop()" 
                                   ng-disabled="loader.loading || spinner">
                            Save
                        </md-button>
                    </div>
				</div>
			</div>
		</div>
	</div>
</div>