<div class="modal fade slide-right disable-scroll in">
	<div class="modal__backdrop">
		<div class="modal-dialog">
			<div class="modal-content-wrapper modal-wide" tw-click-outside="close()">
                <div class="modal-content-wrapper modal-wide">
				    <div class="modal-content">
                        <div class="modal-header box__border--java">
                            <button class="btn btn-primary right" ng-click="close()">
                                <i class="fa fa-times" aria-hidden="true"></i>
                            </button>
                        </div>
                        <div class="modal-body">
                            <div class="modal-message-client mx-auto">
                                <div class="box__text--large box--bottom-margin">
                                    {{mode}} event
                                </div>
                                <div class="box__text--mid box--basic-bottom-padding box--basic-bottom-margin">
                                    You are about to {{mode | lowercase}} a repeating event
                                </div>
                            </div>
                        </div>
                        <md-button class="md__event-desktop-btn md__flex-btn">
                            <a class="box__more--java box__btn-text box__text--smallest box__half-btns box__btn-small-text--padding box--border-right center" ng-click="confirm(true)">
                                {{mode}} all
                            </a>
                            <a class="box__more--java box__btn-text box__text--smallest box__half-btns box__btn-small-text--padding center" ng-click="confirm(false)">
                                {{mode}} current
                            </a>
                        </md-button>
                    </div>
				</div>
			</div>
		</div>
	</div>
</div>