<div class="modal fade slide-right disable-scroll in">
	<div class="modal__backdrop">
		<div class="modal-dialog">
			<div class="modal-content-wrapper modal-wide" tw-click-outside="close()">
				<div class="modal-content">
					<div class="modal-header">
						<button class="btn btn-primary right" ng-click="close()">
							<svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" viewBox="0 0 24 24"><path fill="none" d="M0 0h24v24H0V0z"/><path d="M19 6.41L17.59 5 12 10.59 6.41 5 5 6.41 10.59 12 5 17.59 6.41 19 12 13.41 17.59 19 19 17.59 13.41 12 19 6.41z"/></svg>
						</button>
					</div>
                    <div ng-if="flag">
                        <div class="modal-body">
                            <div class="modal-message-client mx-auto">
                                <div class="box__text--large box--bottom-margin">
                                    Are You Sure?
                                </div>
                                <div class="box__text--mid box--basic-bottom-padding box--basic-bottom-margin" ng-bind-html="message">
                                    {{ message }}
                                </div>
                            </div>
                        </div>
                        <div class="ot-btn__container ot-btn_rounded-bottom">
                            <md-button class="ot-btn ot-btn__hlf ot-btn__talent-color ot-btn__hlf-right center" ng-click="close()" aria-label="Close">
                                {{ buttons.cancel_title }}
                            </md-button>
                            <md-button class="ot-btn ot-btn__hlf ot-btn__talent-color ot-btn__hlf-left center box--border-right" ng-click="confirm()" aria-label="Confirm">
                                {{ buttons.confirm_title }}
                            </md-button>
                        </div>
                    </div>
                    <div ng-if="!flag">
                        <div class="modal-body">
                            <div class="modal-message-client mx-auto">
                                <div class="box__text--large box--bottom-margin">
                                    Are you sure you want to cancel?
                                </div>
                                <div class="box__text--mid box--basic-bottom-padding">
                                    {{ message }}
                                </div>
                                <div class="box__text--mid box--basic-bottom-padding">
                                    Also, please note, by canceling this shift you may be removed from all confirmed shifts that are currently in your suspension period.
                                </div>
<!--
                                <div class="box__text--mid box--basic-bottom-padding" ng-if="lostEventsNum">
                                    Also, please note, by canceling this shift you may be removed from {{ lostEventsNum }} confirmed {{ (lostEventsNum === 1) ? 'shift that is' : 'shifts that are' }} currently in your suspension period.
                                </div>
-->
                                <textarea ng-model="cancelReason" class="form__input-full" id="description" name="description" rows="3" placeholder="Please be as detailed as possible with your cancel reason"></textarea>
                                <div class="form__error-cancel">
                                    <span ng-if="error && !cancelReason">Must include reason for cancelation</span>
                                </div>
                            </div>
                        </div>
                        <div class="ot-btn__container ot-btn_rounded-bottom">
                            <md-button class="ot-btn ot-btn__hlf ot-btn__talent-color ot-btn__hlf-right center" ng-click="close()" aria-label="Close">
                                {{ buttons.cancel_title }}
                            </md-button>
                            <md-button class="ot-btn ot-btn__hlf ot-btn__talent-color ot-btn__hlf-left center box--border-right" ng-click="confirmCancel(cancelReason)" aria-label="Confirm">
                                {{ buttons.confirm_title }}
                            </md-button>
                        </div>
                    </div>
				</div>
			</div>
		</div>
	</div>
</div>
