<div class="relative" style="height: 100%">
    <div class="absolute box__event box__event--extra-layer-1 flex flex-column justify-end" 
         ng-if="Request.event.type === 'multi'">
        <div class="ot-btn__container ot-btn_rounded-bottom ot-btn__talent-color"></div>
    </div>
    <div class="absolute box__event box__event--extra-layer-2 flex flex-column justify-end" 
         ng-if="Request.event.type === 'multi'">
        <div class="ot-btn__container ot-btn_rounded-bottom ot-btn__talent-color"></div>
    </div>
    
    <div class="box box__event border-box">
        <div class="box__event--sign center" style="right: 13px; width: 55px;">
            <div class="box__event--sign-circular center mx-auto bottom-margin-5">
                <!-- This is for open  -->
                <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 24 24" ng-if="active === 'open'"><path fill="none" d="M0 0h24v24H0V0z"/><path d="M7 11h2v2H7v-2zm14-5v14c0 1.1-.9 2-2 2H5c-1.11 0-2-.9-2-2l.01-14c0-1.1.88-2 1.99-2h1V2h2v2h8V2h2v2h1c1.1 0 2 .9 2 2zM5 8h14V6H5v2zm14 12V10H5v10h14zm-4-7h2v-2h-2v2zm-4 0h2v-2h-2v2z"/></svg>
                <!-- This is for hired (confirmed / completed)  -->
                <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 24 24" ng-if="active === 'completed'"><path fill="none" d="M0 0h24v24H0V0z"/><path d="M19 3h-1V1h-2v2H8V1H6v2H5c-1.1 0-2 .9-2 2v14c0 1.1.9 2 2 2h14c1.1 0 2-.9 2-2V5c0-1.1-.9-2-2-2zm0 16H5V9h14v10zM5 7V5h14v2H5zm5.56 10.46l5.93-5.93-1.06-1.06-4.87 4.87-2.11-2.11-1.06 1.06z"/></svg>
                <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 24 24" ng-if="active === 'confirmed'"><path fill="none" d="M0 0h24v24H0V0z"/><path fill="none" d="M0 0h24v24H0V0z"/><path d="M9 16.17L4.83 12l-1.42 1.41L9 19 21 7l-1.41-1.41L9 16.17z"/></svg>
                <!-- This is for invited event -->
                <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 24 24" ng-if="active === 'invited' || active === 'reaccept'"><path fill="none" d="M0 0h24v24H0V0z"/><path d="M15 12c2.21 0 4-1.79 4-4s-1.79-4-4-4-4 1.79-4 4 1.79 4 4 4zm0-6c1.1 0 2 .9 2 2s-.9 2-2 2-2-.9-2-2 .9-2 2-2zm0 8c-2.67 0-8 1.34-8 4v2h16v-2c0-2.66-5.33-4-8-4zm-6 4c.22-.72 3.31-2 6-2 2.7 0 5.8 1.29 6 2H9zm-3-3v-3h3v-2H6V7H4v3H1v2h3v3z"/></svg>
                <!-- This is for applied event -->
                <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 24 24" ng-if="active === 'applied'"><path fill="none" d="M0 0h24v24H0V0z"/><path d="M20 4H4c-1.1 0-1.99.9-1.99 2L2 18c0 1.1.9 2 2 2h16c1.1 0 2-.9 2-2V6c0-1.1-.9-2-2-2zm0 14H4V8l8 5 8-5v10zm-8-7L4 6h16l-8 5z"/></svg>
            </div>
            <div class="box__text--xs">
                {{ active }}
            </div>
        </div>

        <a ui-sref="signedin.events.event({ eid: Request.event.id, sid: Request.id, status: active })" class="box__event-title black block">
            {{ Request.event.title }}
        </a>
        
        <div class="box__logo" style="top: 70px;">
            <img ng-if="Request.event.event_group.logo_src && !Request.event.event_group.hide_host" ng-src="{{ Request.event.event_group.logo_src }}">
        </div>
        
        <div class="box__event-text mx-auto">
            <svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" viewBox="0 0 24 24" class="box__event-icon"><path fill="none" d="M0 0h24v24H0V0z"/><path d="M7 11h2v2H7v-2zm14-5v14c0 1.1-.9 2-2 2H5c-1.11 0-2-.9-2-2l.01-14c0-1.1.88-2 1.99-2h1V2h2v2h8V2h2v2h1c1.1 0 2 .9 2 2zM5 8h14V6H5v2zm14 12V10H5v10h14zm-4-7h2v-2h-2v2zm-4 0h2v-2h-2v2z"/></svg>
            <div class="box__event-text--margin-left">
                {{ Request.event.start.format('MMM Do, YYYY') }} {{ (Request.event.timezone) ? Request.event.start.format('(z)') : '' }}
            </div>
        </div>
        <div class="box__event-text mx-auto" ng-if="Request.event.address">
            <svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" viewBox="0 0 24 24" class="box__event-icon"><path fill="none" d="M0 0h24v24H0V0z"/><path d="M12 2C8.13 2 5 5.13 5 9c0 5.25 7 13 7 13s7-7.75 7-13c0-3.87-3.13-7-7-7zM7 9c0-2.76 2.24-5 5-5s5 2.24 5 5c0 2.88-2.88 7.19-5 9.88C9.92 16.21 7 11.85 7 9z"/><circle cx="12" cy="9" r="2.5"/></svg>
            <div class="box__event-text--margin-left">
                {{ Request.event.address }}
            </div>
        </div>
        <div class="box__event-roles">
            <span class="box__event-label inline-block center">{{ Request.skill.title }}</span>
        </div>
        
        <div class="box__event-text mx-auto bottom-margin-15" ng-if="Request.skill.slug === 'influencer'">
            <svg xmlns="http://www.w3.org/2000/svg" height="16" viewBox="0 0 24 24" width="16" class="box__event-icon" style="top: 2px;"><path d="M0 0h24v24H0V0z" fill="none" opacity=".87"/><path d="M3 5v14h17V5H3zm4 2v2H5V7h2zm-2 6v-2h2v2H5zm0 2h2v2H5v-2zm13 2H9v-2h9v2zm0-4H9v-2h9v2zm0-4H9V7h9v2z"/></svg>
            <div class="box__event-text--margin-left bottom-margin-5">
                Event topics:
            </div>
            <div>
                <span class="box__event-label inline-block center event-digital__expertise talent__event--chips-alter-color" ng-repeat="item in Request.event.expertises">{{ item.title }}</span>
            </div>
        </div>

        <div class="absolute" style="width: 100%; bottom: 0;">
            <md-button class="ot-btn ot-btn_rounded-bottom ot-btn__talent-color relative" ng-click="state.go('signedin.events.event', { eid: Request.event.id, sid: Request.id, StaffingList: Staffing, status: active })" ng-hide="Request.status === 'INVITED' && Request.gotNotFilledShifts <= 0">
                Job Details
                <svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" viewBox="0 0 24 24" class="ot-btn__arrow-right"><path fill="none" d="M0 0h24v24H0V0z"/><path d="M10 6L8.59 7.41 13.17 12l-4.58 4.59L10 18l6-6-6-6z"/></svg>
            </md-button>

            <div class="ot-btn ot-btn_rounded-bottom ot-btn__talent-color border-box box__event--warning center" ng-if="(Request.status === 'INVITED' || Request.status === 'REACCEPT') && Request.gotNotFilledShifts <= 0">
                We're sorry, this event has been fully staffed. We'll let you know if a space opens up!
            </div>
        </div>
    </div>
</div>