<div class="modal fade slide-right disable-scroll in">
	<div class="modal__backdrop">
		<div class="modal-dialog">
			<div class="modal-content-wrapper modal-wide" tw-click-outside="close()" ignore-if="warningOpen">
				<div class="modal-content">
					<div class="modal-header">
<!--
						<button class="btn btn-primary right" ng-click="close()">
							<i class="fa fa-times" aria-hidden="true"></i>
						</button>
-->
					</div>
					<div class="form modal-body" style="width: 100%">
						<div class="modal-message-client mx-auto">
							<div>
                                <div class="form__text--smallest form--bottom-padding">
                                    Message text
                                </div>
                            </div>

                            <div class="italic" style="font-size: 12px; margin-bottom: 5px" 
                                 ng-class="{ 'modal-warning-text': messageError() }">
                                Min 5, max 1500 characters
                            </div>
                            <div class="bottom-margin-30">
                                <textarea style="width: 100%; resize: none; height: 150px; border-radius: 0;" maxlength="1500" minlength="5" 
                                          ng-model="message" 
                                          ng-model-options="{ debounce: 300 }"></textarea>
                            </div>
						</div>
					</div>
                    <div class="ot-btn__container flex">
                        <md-button class="ot-btn ot-btn__talent-color ot-btn__hlf center box--border-right ot-btn__hlf-left" 
                                   ng-click="close()">
							Close
						</md-button>
                        <md-button class="ot-btn ot-btn__talent-color ot-btn__hlf center x-padding-0 ot-btn__hlf-right" 
                                   ng-click="confirm()" 
                                   ng-disabled="messageError()">
							Send
						</md-button>
                    </div>
				</div>
			</div>
		</div>
	</div>
</div>