<div class="modal fade slide-right disable-scroll in">
	<div class="modal__backdrop" ng-click="close()">
		<div class="modal-dialog">
			<div class="modal-content-wrapper">
				<div class="modal-content">
                    <div class="modal-header"></div>
					<div class="modal-body">
						<div class="modal-message mx-auto center" ng-if="textSwitcher">
							This shift has a guaranteed minimum length of {{hours}}:{{minutes}}. Visit <a target="_blank" ui-sref="signedout.terms" class="form-extra__text--link">Terms of Service</a> for more details on shift minimums.
						</div>
                        <div class="modal-message mx-auto center" ng-if="!textSwitcher">
							You cannot accept this invite because you've already been confirmed for a job with an overlapping time.
						</div>
					</div>
					<md-button class="ot-btn ot-btn__talent-color ot-btn_rounded-bottom center" ng-click="close()">
                        Confirm
                    </md-button>
				</div>
			</div>
		</div>
	</div>
</div>