<div class="modal fade slide-right disable-scroll in">
	<div class="modal__backdrop">
		<div class="modal-dialog">
			<div class="modal-content-wrapper modal-wide" tw-click-outside="close()">
				<div class="modal-content">
					<div class="modal-header">
						<button class="btn btn-primary right" ng-click="close()">
							<i class="fa fa-times" aria-hidden="true"></i>
						</button>
					</div>
					<div class="modal-body">
						<div class="modal-message-client mx-auto">
                            <div class="box__text--mid box--basic-bottom-padding center">
                                This event has a time conflict with your pending application to {{event_name}}. After accepting this invite, your application to {{event_name}} will be canceled. 
					        </div>
						</div>
					</div>
					<md-button class="md__event-desktop-btn md__flex-btn">
                        <a class="ot-btn__talent-color box__btn-text box__text--smallest box__half-btns box__btn-small-text--padding box--border-right center" ng-click="close()">
                            Cancel
                        </a>
                        <a class="ot-btn__talent-color box__btn-text box__text--smallest box__half-btns box__btn-small-text--padding center" ng-click="confirm()">
                            Ok
                        </a>
                    </md-button>
				</div>
			</div>
		</div>
	</div>
</div>