<div class="modal fade slide-right disable-scroll in">
	<div class="modal__backdrop">
		<div class="modal-dialog">
<!--
			<div class="modal-content-wrapper modal-wide" ng-if="switcher === 'terms' || switcher === 'bg check'">
				<div class="modal-content">
					<div class="modal-header">
					</div>
					<div class="modal-body">
						<div class="modal-message-client mx-auto" ng-if="switcher === 'terms'">
					        <div class="box__text--large box--bottom-margin">
					            We’ve updated our terms of service!
					        </div>
					        <div class="box__text--mid box--basic-bottom-padding box--basic-bottom-margin">
					            We’ve made some small changes to our terms of service which can be found <a ui-sref="signedout.terms" class="form-extra__text--link">here</a>. By accepting, you agree to the updates of our terms of service.
					        </div>
						</div>
                        <div class="modal-message-client mx-auto" ng-if="switcher === 'bg check'">
					        <div class="box__text--large box--bottom-margin">
					            Background Check
					        </div>
					        <div class="box__text--mid box--basic-bottom-padding box--basic-bottom-margin">
					            We’ve implemented background checks to ensure the highest quality candidates on Outfit. By accepting, you’re agreeing for Outfit to run a background check on you that’s FCRA compliant. You’ll receive more information via email on next steps and what to expect.
					        </div>
						</div>
					</div>
                    <md-button class="md__event-desktop-btn ot-btn__talent-color box__btn-text box__text--smallest box__btn-small-text--padding center height-60" ng-click="accept()">
                        Accept
                    </md-button>
				</div>
			</div>
            <div class="modal-content-wrapper modal-wide" tw-click-outside="close()" ng-if="switcher === 'agreement' || switcher === 'first login' || switcher === 'w9'">
                <div class="modal-content">
					<div class="modal-header">
						<button class="btn btn-primary right" ng-click="close()">
							<i class="fa fa-times" aria-hidden="true"></i>
						</button>
					</div>
					<div class="modal-body">
						<div class="modal-message-client mx-auto" ng-if="switcher === 'first login'">
					        <div class="box__text--large box--bottom-margin">
					            You're almost finished!
					        </div>
					        <div class="box__text--mid box--basic-bottom-padding box--basic-bottom-margin">
					            Please go to <a ui-sref="signedin.user.settings" class="form-extra__text--link">settings</a> and sign your W9 and Contractors Agreement! You'll need to do this before accepting any work.
					        </div>
						</div>
                        <div class="modal-message-client mx-auto" ng-if="switcher === 'agreement'">
					        <div class="box__text--large box--bottom-margin">
					            Please sign your contractors agreement!
					        </div>
					        <div class="box__text--mid box--basic-bottom-padding box--basic-bottom-margin">
					            We've recently integrated a contractors agreement on Outfit. We'll need you to sign this before accepting any additional work.
					        </div>
						</div>
                        <div class="modal-message-client mx-auto" ng-if="switcher === 'w9'">
					        <div class="box__text--large box--bottom-margin">
					            Please sign your W9 form!
					        </div>
					        <div class="box__text--mid box--basic-bottom-padding box--basic-bottom-margin">
					            We've recently integrated a W9 form on Outfit. We'll need you to sign this before accepting any additional work.
					        </div>
						</div>
					</div>
                    <md-button class="md__event-desktop-btn ot-btn__talent-color box__btn-text box__text--smallest box__btn-small-text--padding center height-60" ng-click="redirect()">
                        Okay
                    </md-button>
				</div>
			</div>
-->
            <div class="modal-content-wrapper modal-wide" 
                 tw-click-outside="close()">
				<div class="modal-content">
					<div class="modal-header">
					</div>
					<div class="modal-body">
						<div class="modal-message-client mx-auto">
					        <div class="box__text--large box--bottom-margin" 
                                 ng-if="title">
					            {{ title }}
					        </div>
					        <div class="box__text--mid box--basic-bottom-padding" ng-bind-html="message">
					        </div>
						</div>
					</div>
                    <md-button class="md__event-desktop-btn ot-btn__talent-color box__btn-text box__text--smallest box__btn-small-text--padding center height-60" ng-click="confirm()">
                        {{ btn_title }}
                    </md-button>
				</div>
			</div>
		</div>
	</div>
</div>