.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    text-align: center;
    font-family: 'Poppins', sans-serif;
    background-color: #eef0f8;
    color: #333;
}

.container h1 {
    font-size: 36px;
    font-weight: bold;
    margin-bottom: 20px;
    color: #007bff;
}

.container p {
    font-size: 18px;
    margin-bottom: 30px;
    color: #555;
}