.header {
    background-color: darkblue;
    padding: 20px;
    text-align: center;
    font-weight: bold;
    position: fixed;
    z-index: 1000;
    width: 100%;
    color: white;
    cursor: pointer;
}

.footer {
    background-color: darkblue;
    padding: 15px;
    text-align: center;
    font-weight: bold;
    width: 100%;
    color: white;
}

.layout {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    padding: 60px 0;
}