.table {
    width: 100%;
    border-collapse: collapse;
    /* margin: 20px auto; */
    text-align: left;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    overflow: hidden;
}

.table--row {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    border-bottom: 1px solid white;
    background-color: #f4f5f8;
    transition: background-color 0.3s ease;
}

.table--row:hover {
    background-color: #eff0f4;
    cursor: pointer;
}

.table--cell {
    flex: 1;
    padding: 10px;
    font-size: 14px;
}

.table--header {
    background-color: transparent;
    height: 60px;
    .table--cell {
        color: #a9a9b9;
        font-weight: bold;
    }
}

.table--header:hover {
    background-color: white;
    cursor: default;
}

.table--body {
    height: 100%;
    max-height: 440px;
    overflow-y: auto;
}
