<div class="client-settings-bankaccount__section-1">
    <div class="desktop__details-event">
        <form class="form form__large mx-auto">
            <div class="form__text form__text--large form--basic-top-padding form--basic-bottom-padding">
                Bank account info
            </div>
            <div class="form__input-text">
                <label class="" for="account-first-name">
                    Account holder's first name
                </label>
            </div>
            <input type="text" class="form__input" name="account-first-name">
            <div class="form__input-text">
                <label class="" for="account-last-name">
                    Account holder's last name
                </label>
            </div>
            <input type="text" class="form__input" name="account-last-name">
            <div class="form__input-text">
                <label class="" for="bank">
                    Bank name
                </label>
            </div>
            <input type="text" class="form__input" name="bank">
            <div class="form__input-text">
                <label class="" for="routing-number">
                    Routing number
                </label>
            </div>
            <input type="text" class="form__input" name="routing-number">
            <div class="form__input-text">
                <label class="" for="account-number">
                    Account number
                </label>
            </div>
            <input type="text" class="form__input" name="account-number">
            <div class="form__input-text">
                <label class="" for="phone-number">
                    Phone no. on account
                </label>
            </div>
            <input type="text" class="form__input" name="phone-number">
            <div class="form__input-text">
            <label class="" for="account-nickname">
                    Account nickname
            </label>
            </div>
            <input type="text" class="form__input" name="account-nickname">
            <button class="form__more form__more--aqua" type="submit">
                <div class="form__text form__text--smallest">
                    Add bank account
                    <i class="fa fa-caret-right right" aria-hidden="true"></i>
                </div>
            </button>
        </form>
        <div class="form-extra mx-auto center">
            <div class="form-extra__text form-extra__text--smallest form-extra__text--link">
            Cancel
            </div>
        </div>
    </div>
</div>
