<div class="client-settings-bankaccount__section-1">
    <div class="desktop__details-event">
        <form class="form form__large mx-auto">
            <div class="form__text form__text--large form--basic-top-padding form--basic-bottom-padding">
                Credit card info
            </div>
            <div class="form__input-text">
                <label class="" for="name-on-card">
                    Name on card
                </label>
            </div>
            <input type="text" class="form__input" name="name-on-card">
            <div class="form__input-text">
                <label class="" for="card-number">
                    Card number
                </label>
            </div>
            <input type="text" class="form__input" name="card-number">
            <div class="form__input-text">
                <label class="" for="security">
                    4 digits security
                </label>
            </div>
            <input type="text" class="form__input" name="security">
            <div class="form__input-text">
                <label class="" for="event-email">
                    Title
                </label>
            </div>
            <div class="form__half-inputs form--basic-bottom-padding flex">
                <select class="form__input form__input--half">
                    <option>June</option>
                    <option>Option 2</option>
                    <option>Option 3</option>
                    <option>Option 4</option>
                    <option>Option 5</option>
                </select>
                <select class="form__input form__input--half">
                    <option>2020</option>
                    <option>Option 2</option>
                    <option>Option 3</option>
                    <option>Option 4</option>
                    <option>Option 5</option>
                </select>
            </div>
            <button class="form__more form__more--aqua" type="submit">
                <div class="form__text form__text--smallest">
                    Add bank account
                    <i class="fa fa-caret-right right" aria-hidden="true"></i>
                </div>
            </button>
        </form>
        <div class="form-extra mx-auto center">
            <div class="form-extra__text form-extra__text--smallest form-extra__text--link">
            Cancel
            </div>
        </div>
    </div>
</div>
