<div class="talent__dashboard talent__dashboard--events">
    <div class="talent__dashboard-section talent__dashboard-section_no-sidebar">
        <div class="earnings__container mx-auto">
            <div class="earnings__amount border-box flex box__border-grey">
                <div class="earnings__amount--block center">
                    <div>This Month</div>
                    <div class="earnings__text-lg">{{ ::thisMonth | currency:'$':2 }}</div>
                </div>
                <div class="earnings__amount--block center">
                    <div>Paid to Date</div>
                    <div class="earnings__text-lg">{{ ::toDate | currency:'$':2 }}</div>
                </div>
            </div>
    <!--
            <div class="earnings__range-filter flex">
                <div class="earnings__range-filter--block">
                    <div class="form__text--soft-pink form__text--smallest form--bottom-padding">From date</div>
                    <div class="relative">
                        <div class="forms__select-arrow earnings__bg-grey">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path fill="none" d="M0 0h24v24H0V0z"/><path d="M7.41 8.59L12 13.17l4.59-4.58L18 10l-6 6-6-6 1.41-1.41z"/></svg>
                        </div>
                        <datepicker date-format="MM-dd-yyyy" date-set="{{now|date:'MM-dd-yyyy'}}" datepicker-mobile="true" date-max-limit="{{ now|date:'MM-dd-yyyy' }}">
                             date-min-limit="{{ moment(UserShift.start).subtract(1,'days')|date:'MM-dd-yyyy' }}"
                            <input type="text" class="forms__input-full payment__text--small" placeholder="mm-dd-yyyy" readonly 
                                   ng-model="endDay" 
                                   ng-class="{ 'form__input-error': timeCheck(UserShift) && !UserShift.submitted_at }" 
                                   ng-change="setDate(UserShift, 'end', endDay)" 
                                   ng-disabled="UserShift.submitted_at">
                        </datepicker>
                    </div>
                </div>
                <div>
                    <div class="form__text--soft-pink form__text--smallest form--bottom-padding">To date</div>
                    <div class="relative">
                        <div class="forms__select-arrow earnings__bg-grey">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path fill="none" d="M0 0h24v24H0V0z"/><path d="M7.41 8.59L12 13.17l4.59-4.58L18 10l-6 6-6-6 1.41-1.41z"/></svg>
                        </div>

                        <datepicker date-format="MM-dd-yyyy" date-set="now|date:'MM-dd-yyyy'}}" datepicker-mobile="true" date-max-limit="{{ now|date:'MM-dd-yyyy' }}">
                            <input type="text" class="forms__input-full payment__text--small" placeholder="mm-dd-yyyy" readonly 
                                   ng-model="endDay" 
                                   ng-class="{ 'form__input-error': timeCheck(UserShift) && !UserShift.submitted_at }" 
                                   ng-change="setDate(UserShift, 'end', endDay)" 
                                   ng-disabled="UserShift.submitted_at">
                        </datepicker>
                    </div>
                </div>
            </div>
    -->
            <div class="box__border-grey">
                <div class="earnings__event" style="cursor: default"
                     ng-repeat="UserShift in ::UserShifts">
                    <div class="earnings__event--title">
                        {{ ::UserShift.event.title }} - {{ ::UserShift.total_paid / 100 | currency:'$':2 }}
                    </div>
                    <div class="earnings__event--info flex relative">
                        <div class="earnings__event--info-block">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24" class="earnings__event--info-icon"><path fill="none" d="M0 0h24v24H0V0z"/><path d="M7 11h2v2H7v-2zm14-5v14c0 1.1-.9 2-2 2H5c-1.11 0-2-.9-2-2l.01-14c0-1.1.88-2 1.99-2h1V2h2v2h8V2h2v2h1c1.1 0 2 .9 2 2zM5 8h14V6H5v2zm14 12V10H5v10h14zm-4-7h2v-2h-2v2zm-4 0h2v-2h-2v2z"/></svg>
                            {{ ::UserShift.start.format('MMM DD, YYYY') }}
                        </div>
                        <div class="earnings__event--info-block">
                            <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 24 24" class="earnings__event--info-icon"><path fill="none" d="M0 0h24v24H0V0z"/><path d="M12 5.9c1.16 0 2.1.94 2.1 2.1s-.94 2.1-2.1 2.1S9.9 9.16 9.9 8s.94-2.1 2.1-2.1m0 9c2.97 0 6.1 1.46 6.1 2.1v1.1H5.9V17c0-.64 3.13-2.1 6.1-2.1M12 4C9.79 4 8 5.79 8 8s1.79 4 4 4 4-1.79 4-4-1.79-4-4-4zm0 9c-2.67 0-8 1.34-8 4v3h16v-3c0-2.66-5.33-4-8-4z"/></svg>
                            {{ ::UserShift.staffing.skill.title }}
                        </div>
                        <div class="earnings__event--info-block">
                            <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="18" height="18" viewBox="0 0 24 24" class="earnings__event--info-icon"><defs><path id="a" d="M0 0h24v24H0z"/></defs><clipPath><use xlink:href="#a" overflow="visible"/></clipPath><path d="M12 2C6.5 2 2 6.5 2 12s4.5 10 10 10 10-4.5 10-10S17.5 2 12 2zm0 18c-4.41 0-8-3.59-8-8s3.59-8 8-8 8 3.59 8 8-3.59 8-8 8zm.5-13H11v6l5.2 3.2.8-1.3-4.5-2.7z"/></svg>
                            {{ ::UserShift.length / 60 }} {{ (UserShift.length / 60 >= 2) ? 'Hours' : 'Hour' }}
                        </div>
    <!--                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" class="earnings__event--arrow"><path fill="none" d="M0 0h24v24H0V0z"/><path d="M10 6L8.59 7.41 13.17 12l-4.58 4.59L10 18l6-6-6-6z"/></svg>-->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
