<div class="talent__messages">
     <aside class="messages-sidebar" id="channels-sidebar" 
           ng-class="{ 'hide-mobile': view !== 'channels' || !Channels.length }">
<!--    inactive    -->
<!--
        <div class="messages-sidebar__search">
            <form action="">
                <div class="form-group">
                    <input type="text" name="" id="" placeholder="Search chat" ng-disabled="!currentChannel">
                    <button class="search-icon" ng-disabled="!currentChannel">
                        <svg viewbox="0 0 56.966 56.966" style="enable-background:new 0 0 56.966 56.966;">
                            <path d="M55.146,51.887L41.588,37.786c3.486-4.144,5.396-9.358,5.396-14.786c0-12.682-10.318-23-23-23s-23,10.318-23,23
                                s10.318,23,23,23c4.761,0,9.298-1.436,13.177-4.162l13.661,14.208c0.571,0.593,1.339,0.92,2.162,0.92
                                c0.779,0,1.518-0.297,2.079-0.837C56.255,54.982,56.293,53.08,55.146,51.887z M23.984,6c9.374,0,17,7.626,17,17s-7.626,17-17,17
                                s-17-7.626-17-17S14.61,6,23.984,6z"/>
                        </svg>                        
                    </button>
                </div>                
            </form>
        </div>
-->
        <div class="messages-sidebar__chat">
            <div class="info-content" 
                 ng-if="Channels && Channels.length">

                <div class="chat-actions center" 
                     ng-click="prevChannels()" 
                     ng-if="startIndex > 0">
                    <svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" viewBox="0 0 24 24"><path fill="none" d="M0 0h24v24H0V0z"/><path d="M7.41 15.41L12 10.83l4.59 4.58L18 14l-6-6-6 6 1.41 1.41z"/></svg>
                </div>
                
                <ul>
                    <li class="cursor-pointer" 
                        ng-repeat="Channel in Channels | limitTo:10:startIndex" 
                        ng-click="setActiveChannel(Channel)" 
                        ng-class="{ 'selected': Channel.sid === currentChannel.sid }" 
                        data-channel-id="{{ Channel.sid }}">
                        <div class="b-flex">
                            <div class="user-avatar--container inline-block relative">
                                <div class="user-avatar" style="background-image:url({{ Channel.avatar }})" alt="channel image" ng-if="Channel.avatar">
                                </div>
                                <div class="user-avatar" ng-if="!Channel.avatar">
                                    <div class="icon-profile"><span class="path1"></span><span class="path2"></span><span class="path3"></span></div>
                                </div>
                            </div>
                            
                            <div class="message-wrap">
                                <div class="message-header">
                                    <p class="name" title="{{ Channel.title }}">{{ Channel.title }}</p>
                                    <span class="time">{{ Channel.last_message.time }}</span>
                                </div>
                                <p class="message" 
                                   ng-class="{ 'opacity-1': Channel.lastMessage.index > Channel.lastConsumedMessageIndex || Channel.lastConsumedMessageIndex === null }">
                                    {{ Channel.last_message.author_name + Channel.last_message.text }}
                                </p>
                            </div>
                        </div>
                    </li>            
                </ul>

                <div class="chat-actions chat-actions--next center" 
                     ng-click="nextChannels()" 
                     ng-if="(startIndex + 10) < Channels.length">
                    <svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" viewBox="0 0 24 24"><path fill="none" d="M0 0h24v24H0V0z"/><path d="M7.41 8.59L12 13.17l4.59-4.58L18 10l-6 6-6-6 1.41-1.41z"/></svg>
                </div>
            </div>
            <div class="no-conversations-box" ng-if="!Channels || !Channels.length">
                <p>No conversations</p>
            </div>
        </div>
    </aside>
    
    <div class="messages__conversation relative" id="chat-view" 
         ng-if="Channels.length" 
         ng-class="{ 'hide-mobile': view !== 'chat' }">
        <header class="conversation__header">
            <button class="back-btn" ng-click="viewSwitcher('channels')"></button>
            <h3 class='conversation__name' title="{{ currentChannel.title_full }}">{{ currentChannel.title_full }}</h3>
            <div class="hide-mobile" ng-if="currentChannel.attributes.channel_type === 'group'">
                <a class="conversation__profile" 
                   ui-sref="signedin.events.event({
                            eid: currentChannel.attributes.event,
                            sid: ChatMembers[chatCLientIdentity].staffing[0],
                            status: 'confirmed' })" 
                   ng-if="!currentChannel.disable && !event_completed">View event</a>
                <a class="conversation__profile" 
                   ui-sref="signedin.events.event({
                            eid: currentChannel.attributes.event,
                            sid: ChatMembers[chatCLientIdentity].staffing[0],
                            status: 'completed' })" 
                   ng-if="currentChannel.disable || event_completed">View event</a>
            </div>
            <div class="header-menu-wrap" 
                 tw-click-outside="isActive = false" 
                 ng-class="{ 'header-menu-active': isActive }">
                <button class="btn-menu" 
                        ng-click="isActive = !isActive">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                        viewBox="0 0 24 24">
                        <path fill="none" d="M0 0h24v24H0V0z"></path>
                        <path
                            d="M6 10c-1.1 0-2 .9-2 2s.9 2 2 2 2-.9 2-2-.9-2-2-2zm12 0c-1.1 0-2 .9-2 2s.9 2 2 2 2-.9 2-2-.9-2-2-2zm-6 0c-1.1 0-2 .9-2 2s.9 2 2 2 2-.9 2-2-.9-2-2-2z">
                        </path>
                    </svg>
                </button>
                <div class="header-menu" 
                     ng-if="currentChannel.attributes.channel_type === 'group'">
                    <ul>
                        <li ng-if="!currentChannel.disable && !event_completed">
                            <a ui-sref="signedin.events.event({ eid: currentChannel.attributes.event,
                                        sid: ChatMembers[chatCLientIdentity].staffing[0],
                                        status: 'confirmed' })">View event</a>
                        </li>
                        <li ng-if="currentChannel.disable || event_completed">
                            <a ui-sref="signedin.events.event({ eid: currentChannel.attributes.event,
                                        sid: ChatMembers[chatCLientIdentity].staffing[0],
                                        status: 'completed' })">View event</a>
                        </li>
                        <li>
                            <a href="#" ng-click="viewSwitcher('members')">Talent list</a>
                        </li>
                    </ul>
                </div>
<!--
                <div class="header-menu" 
                     ng-if="currentChannel.attributes.channel_type === 'one-to-one'">
                    <ul>
                        <li>
                            <a href="#" ng-click="viewSwitcher('members')">
                                Files
                            </a>
                        </li>
                    </ul>
                </div>
-->
            </div>
        </header>
        <div class="conversation__chat" id="chat-messages-view">
            <div class="chat-actions chat-actions--prev center" 
                 ng-click="getPrevMessages()" 
                 ng-if="currentChannel.messages_store.hasPrevPage">
                <span>Show more</span>
                <svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" viewBox="0 0 24 24" class="absolute"><path fill="none" d="M0 0h24v24H0V0z"/><path d="M7.41 15.41L12 10.83l4.59 4.58L18 14l-6-6-6 6 1.41 1.41z"/></svg>
            </div>
            
            <ul class="relative" id="chat-messages-list">
                <li ng-repeat="Message in currentChannel.messages_store" 
                    ng-class="{ 'right-position': Message.author === chatCLientIdentity }" 
                    data-message-id="{{ Message.sid }}">
                    <div class="message-container relative">                    
                        <div class="user-avatar--container inline-block relative">
                            <div class="user-avatar" style="background-image:url({{ ChatMembers[Message.author].avatar }})" 
                                 ng-if="ChatMembers[Message.author].avatar">
                            </div>
                            <div class="user-avatar" ng-if="!ChatMembers[Message.author].avatar">
                                <div class="icon-profile"><span class="path1"></span><span class="path2"></span><span class="path3"></span></div>
                            </div>
                        </div>
                        
                        <div class="message-wrap">
                            <div class="message-menu-wrap" 
                                 ng-if="!currentChannel.disable" 
                                 ng-class="{ 'message-menu-active': isActive }" 
                                 tw-click-outside="isActive = false">
                                <button class="btn-menu" 
                                        ng-click="isActive = !isActive">                                        
                                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                                        <path fill="none" d="M0 0h24v24H0V0z"/><path d="M6 10c-1.1 0-2 .9-2 2s.9 2 2 2 2-.9 2-2-.9-2-2-2zm12 0c-1.1 0-2 .9-2 2s.9 2 2 2 2-.9 2-2-.9-2-2-2zm-6 0c-1.1 0-2 .9-2 2s.9 2 2 2 2-.9 2-2-.9-2-2-2z"/>
                                    </svg>
                                </button>
                                <div class="message-menu">
                                    <ul>
                                        <li><a href="#" ng-click="editMessage(Message)" ng-if="!Message.media">Edit</a></li>
                                        <li><a href="#" ng-click="deleteMessage(Message)">Delete</a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="message-header">
                                <b class="name">{{ (ChatMembers[Message.author]) ? ChatMembers[Message.author].user_name : 'Removed user' }}</b>
                                <span class="time">{{ Message.time_format }}</span>
                            </div>
                            <div class="message message-preline relative" ng-if="!Message.media">
                                <div class="message-edited" ng-if="Message.lastUpdatedBy">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 24 24"><path fill="none" d="M0 0h24v24H0V0z"/><path d="M14.06 9.02l.92.92L5.92 19H5v-.92l9.06-9.06M17.66 3c-.25 0-.51.1-.7.29l-1.83 1.83 3.75 3.75 1.83-1.83c.39-.39.39-1.02 0-1.41l-2.34-2.34c-.2-.2-.45-.29-.71-.29zm-3.6 3.19L3 17.25V21h3.75L17.81 9.94l-3.75-3.75z"/></svg>
                                </div>
                                <span ng-bind-html="Message.body | linky:'_blank'"></span>
                            </div>
                            <div class="message" 
                                 ng-if="Message.media && !Message.media.contentType.includes('image')">
                                <a href="#" ng-click="downloadFile(Message.sid, Message.media.filename, Message)">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24" class="chat-icon--file"><path fill="none" d="M0 0h24v24H0V0z"/><path d="M8 16h8v2H8zm0-4h8v2H8zm6-10H6c-1.1 0-2 .9-2 2v16c0 1.1.89 2 1.99 2H18c1.1 0 2-.9 2-2V8l-6-6zm4 18H6V4h7v5h5v11z"/></svg>
                                    
                                    {{ Message.media.filename }}
                                </a>
                            </div>
                            <div class="message-img relative" style="background-image:url({{ Message.media_url}})" 
                                 ng-if="Message.media && Message.media.contentType.includes('image')" 
                                 ng-click="openFullSize(Message.media_url)">
                                <button class="btn-menu absolute" aria-label="Download image" 
                                        onclick="event.stopPropagation()" 
                                        ng-click="downloadFile(Message.sid, Message.media.filename, Message)">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path fill="none" d="M0 0h24v24H0V0z"/><path d="M20 12l-1.41-1.41L13 16.17V4h-2v12.17l-5.58-5.59L4 12l8 8 8-8z"/></svg>
                                </button>
                            </div>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
        <div class="chat__error-box">
            {{ errorMessage }}
            <div ng-click="closeWarning()">
                <svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" viewBox="0 0 24 24">
                    <path fill="none" d="M0 0h24v24H0V0z"/><path d="M19 6.41L17.59 5 12 10.59 6.41 5 5 6.41 10.59 12 5 17.59 6.41 19 12 13.41 17.59 19 19 17.59 13.41 12 19 6.41z"/>
                </svg>
            </div>
        </div>
        <div class="conversation__footer">
            <div class="message-form">
                <textarea name="" id="chat-input" cols="30" rows="1" placeholder="Type your message…" maxlength="1500" 
                          ng-keypress="keyboardHandler($event, messageText)" 
                          ng-model="messageText" 
                          ng-disabled="!currentChannel || currentChannel.disable"></textarea>
            </div>
            <div class="message-form-btns">
                <div class="file-wrap">
                    <label for="doc-input" class="file-btn">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                            <path fill="none" d="M0 0h24v24H0V0z"/><path d="M18.5 16H7c-2.21 0-4-1.79-4-4s1.79-4 4-4h12.5c1.38 0 2.5 1.12 2.5 2.5S20.88 13 19.5 13H9c-.55 0-1-.45-1-1s.45-1 1-1h9.5V9.5H9c-1.38 0-2.5 1.12-2.5 2.5s1.12 2.5 2.5 2.5h10.5c2.21 0 4-1.79 4-4s-1.79-4-4-4H7c-3.04 0-5.5 2.46-5.5 5.5s2.46 5.5 5.5 5.5h11.5V16z"/>
                        </svg>
                    </label>
                    <input type="file" accept="application/msword, application/pdf, text/plain, application/excel, application/mspowerpoint" id="doc-input" 
                           file-upload="upload(file)" 
                           ng-disabled="!currentChannel || currentChannel.disable" />
                </div>
                <div class="file-wrap">
                    <label for="img-input" class="file-btn">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                            <path fill="none" d="M0 0h24v24H0V0z"/><path d="M19 5v14H5V5h14m0-2H5c-1.1 0-2 .9-2 2v14c0 1.1.9 2 2 2h14c1.1 0 2-.9 2-2V5c0-1.1-.9-2-2-2zm-4.86 8.86l-3 3.87L9 13.14 6 17h12l-3.86-5.14z"/>
                        </svg>
                    </label>
                    <input type="file" accept="image/jpeg, image/jpg, image/png" id="img-input" 
                           file-upload="upload(file)" 
                           ng-disabled="!currentChannel || currentChannel.disable" />
                </div>
                <button class="btn-send" 
                        ng-click="sendMessage(messageText)" 
                        ng-disabled="!currentChannel || currentChannel.disable">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                        <path d="M2.01 21L23 12 2.01 3 2 10l15 2-15 2z"/><path d="M0 0h24v24H0z" fill="none"/>
                    </svg>
                </button>
            </div>
        </div>
    </div>
    <div class="messages__conversation" ng-if="!Channels.length">
        <div class="no-conversations-box">
            <div class="center-container">
                <div class="icon-box">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path fill="none" d="M0 0h24v24H0V0z"/><path d="M15 4v7H5.17l-.59.59-.58.58V4h11m1-2H3c-.55 0-1 .45-1 1v14l4-4h10c.55 0 1-.45 1-1V3c0-.55-.45-1-1-1zm5 4h-2v9H6v2c0 .55.45 1 1 1h11l4 4V7c0-.55-.45-1-1-1z"/></svg>
                </div>
                <h3>No conversations</h3>
                <p>You currently have no conversations!</p>

                <md-button class="ot-btn__talent-color ot-btn_small ot-btn__rounded" aria-label="Create event" 
                           ng-click="goEvents()">
                    Find event
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" class="right"><path fill="none" d="M0 0h24v24H0V0z"/><path d="M7 11h2v2H7v-2zm14-5v14c0 1.1-.9 2-2 2H5c-1.11 0-2-.9-2-2l.01-14c0-1.1.88-2 1.99-2h1V2h2v2h8V2h2v2h1c1.1 0 2 .9 2 2zM5 8h14V6H5v2zm14 12V10H5v10h14zm-4-7h2v-2h-2v2zm-4 0h2v-2h-2v2z"/></svg>
                </md-button>

            </div>
        </div>
    </div>

    <div class="messages__sidebar-info" 
         ng-if="currentChannel.attributes.channel_type === 'group'" 
         ng-class="{ 'hide-mobile': view !== 'members' }">
        <header class="conversation__header hide-desktop">
            <button class="back-btn" ng-click="viewSwitcher('chat')"></button>
            <h3 class='conversation__name' title="{{ currentChannel.title_full }}">{{ currentChannel.title_full }}</h3>
        </header>
        <div class="messages__sidebar-container" 
             ng-if="currentChannel">
            <div class="info-box" 
                 ng-class="{ 'open': activeList }">
                <button class="info-header" 
                        ng-click="activeList = !activeList" 
                        ng-disabled="loader.loading">
                    <div class="info-title">Talent list</div>
                    <div class="arrow">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path fill="none" d="M0 0h24v24H0V0z"/><path d="M8.59 16.59L13.17 12 8.59 7.41 10 6l6 6-6 6-1.41-1.41z"/></svg>
                    </div>
                </button>
                <div class="info-content" ng-hide="!activeList">
                    <div class="list-wrap top-padding-15">
                        <div class="list-title">
                            <h5>Organiser</h5>
<!--                            <div class="count">(1/1)</div>-->
                        </div>
                        <ul class="list">
                            <li ng-repeat="(key, value) in ChatMembers" 
                                ng-if="value.role === 'Event organiser'">
                                <div class="user-avatar--container inline-block">
                                    <div class="user-avatar" style="background-image:url({{ value.avatar }})" 
                                         ng-if="value.avatar">
                                    </div>
                                    <div class="user-avatar" ng-if="!value.avatar">
                                        <div class="icon-profile">
                                            <span class="path1"></span><span class="path2"></span><span class="path3"></span>
                                        </div>
                                    </div>
                                </div>
                                <div class="user-info">
                                    <div class="name">
                                        {{ value.user_name }} 
                                    </div>
                                    <div class="desc">Event organiser</div>
                                </div>
                                <div class="user-menu-wrap" 
                                     tw-click-outside="isActive = false" 
                                     ng-class="{ 'user-menu-active': isActive}">
                                    <button class="btn-menu" 
                                            ng-click="isActive = !isActive">                                        
                                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                                            <path fill="none" d="M0 0h24v24H0V0z"/><path d="M6 10c-1.1 0-2 .9-2 2s.9 2 2 2 2-.9 2-2-.9-2-2-2zm12 0c-1.1 0-2 .9-2 2s.9 2 2 2 2-.9 2-2-.9-2-2-2zm-6 0c-1.1 0-2 .9-2 2s.9 2 2 2 2-.9 2-2-.9-2-2-2z"/>
                                        </svg>
                                    </button>
                                    <div class="user-menu">
                                        <ul>
                                            <li>
                                                <a href="#" 
                                                   ng-click="initDirectMessaging(currentChannel, key, value)" 
                                                   ng-if="!currentChannel.disable">Message</a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <div class="list-wrap bottom-padding-15">
                        <div class="list-title">
                            <h5>Talent</h5>
<!--                            <div class="count">({{ staffNum }}/3)</div>-->
                        </div>
                        <ul class="list" id="chat-memberlist">
                            <li ng-repeat="(key, value) in ChatMembers" 
                                data-member-id="{{ key }}" 
                                ng-if="value.role !== 'Event organiser'">
                                <div class="user-avatar--container inline-block relative">
                                    <div class="user-avatar" style="background-image:url({{ value.avatar }})" alt="user image" ng-if="value.avatar">
                                    </div>
                                    <div class="user-avatar" ng-if="!value.avatar">
                                        <div class="icon-profile">
                                            <span class="path1"></span><span class="path2"></span><span class="path3"></span>
                                        </div>
                                    </div>
                                </div>
                                <div class="user-info">
                                    <div class="name">
                                        {{  (key === chatCLientIdentity) ? Me.first_name + ' (You)' : value.user_name }}
                                    </div>
                                    <div class="desc">{{ value.role }}</div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="info-box" ng-class="{ 'open': activeFiles }">
                <button class="info-header" 
                        ng-click="openFileList()" 
                        ng-disabled="loader.loading">
                    <div class="info-title"><span>Shared files</span><span class="badge">{{ sharedFilesNum }}</span></div>
                    <div class="arrow">
                         <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path fill="none" d="M0 0h24v24H0V0z"/><path d="M8.59 16.59L13.17 12 8.59 7.41 10 6l6 6-6 6-1.41-1.41z"/></svg>
                    </div>
                </button>
                <div class="info-content" ng-hide="!activeFiles">
                    <ul class="file-list">
                        <li ng-repeat="(mediaKey, mediaValue) in currentChannel.media_store" 
                            data-message-id="{{ mediaKey }}">
                            <div class="file-list--link">
                                <i ng-if="!mediaValue.contentType.includes('image')">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path fill="none" d="M0 0h24v24H0V0z"/><path d="M8 16h8v2H8zm0-4h8v2H8zm6-10H6c-1.1 0-2 .9-2 2v16c0 1.1.89 2 1.99 2H18c1.1 0 2-.9 2-2V8l-6-6zm4 18H6V4h7v5h5v11z"/></svg>
                                </i>
                                <i ng-if="mediaValue.contentType.includes('image')">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                                        <path fill="none" d="M0 0h24v24H0V0z"/><path d="M19 5v14H5V5h14m0-2H5c-1.1 0-2 .9-2 2v14c0 1.1.9 2 2 2h14c1.1 0 2-.9 2-2V5c0-1.1-.9-2-2-2zm-4.86 8.86l-3 3.87L9 13.14 6 17h12l-3.86-5.14z"/>
                                    </svg>
                                </i>
                                <span ng-click="downloadFile(mediaKey, mediaValue.filename, null)" title="{{ mediaValue.filename }}">{{ mediaValue.filename }}</span>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>