<div class="old-section old-bg"></div>
<div class="account-switch__section-1 relative" style="z-index: 2">
    <div class="main main--basic-bottom-padding mx-auto">
        <div class="main__text main__text--largest main__switch-large main--basic-top-padding main--basic-bottom-padding mx-auto center">
            Welcome back, {{ user_name }}!
        </div>
        <div class="main__text main__text--large  main__switch-small main--basic-top-padding mx-auto center">
            Please select the account you’ll be using.
        </div>
    </div>
    <div class="large-btns large-btns--basic-top-margin mx-auto">
        <div class="large-btns__btn-a-half large-btns__btn--desktop-a large-btns--bottom-margin flex mx-auto">
            <md-button class="block col-6">
                <a class="large-btns__text old-btn old-btn-left large-btns__text--smallest large-btns__text--padding-smallest-a large-btns--border-right center" ng-href="{{ clientLink }}?token={{ token }}">
                    Client
                </a>
            </md-button>
            <md-button ng-click="enterApp()" class="block col-6 old-btn old-btn-right">
                <div class="large-btns__text large-btns__text--smallest large-btns__text--padding-smallest-a center">
                    Talent
                </div>
            </md-button>
        </div>
    </div>
</div>
<div class="old-section-bottom old-bg flex flex-column justify-end">
</div>
