<div id="group1" class="parallax__group">
    <div class="parallax__layer parallax__layer--base">
        <div class="ot-home__section flex flex-column justify-end">
            <div class="ot-home__main-section mx-auto flex flex-column justify-between">
                <div class="ot-home__main-section--text-block flex justify-start">
                    <div class="ot-home__main-section--block ot-home__main-section--block-left flex flex-column justify-between">
                        <div>
                            <div class="ot-home__main-title">
                                Your complete influencer<br>marketing solution.
                            </div>
                            <div class="bold ot-home__main-subtitle">
                                Directly connect with individual creators at scale<br>to amplify your IRL + URL messaging.
                            </div>
                        </div>
                        <!-- <div class="ot-home__text-small ot-home__main-talent-info">
                            <div class="ot-home__main-talent-info--str">Molly</div>
                            <div class="ot-home__main-talent-info--str">Model / Influencer / Personality</div>
                            <div class="ot-home__main-talent-info--stars">
                                <span class="ot-home__rating">
                                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" class="ot-home__rating--star"><path fill="none" d="M0 0h18v18H0V0z"/><path d="M9 11.3l3.71 2.7-1.42-4.36L15 7h-4.55L9 2.5 7.55 7H3l3.71 2.64L5.29 14 9 11.3z"/></svg>
                                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" class="ot-home__rating--star"><path fill="none" d="M0 0h18v18H0V0z"/><path d="M9 11.3l3.71 2.7-1.42-4.36L15 7h-4.55L9 2.5 7.55 7H3l3.71 2.64L5.29 14 9 11.3z"/></svg>
                                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" class="ot-home__rating--star"><path fill="none" d="M0 0h18v18H0V0z"/><path d="M9 11.3l3.71 2.7-1.42-4.36L15 7h-4.55L9 2.5 7.55 7H3l3.71 2.64L5.29 14 9 11.3z"/></svg>
                                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" class="ot-home__rating--star"><path fill="none" d="M0 0h18v18H0V0z"/><path d="M9 11.3l3.71 2.7-1.42-4.36L15 7h-4.55L9 2.5 7.55 7H3l3.71 2.64L5.29 14 9 11.3z"/></svg>
                                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" class="ot-home__rating--star"><path fill="none" d="M0 0h18v18H0V0z"/><path d="M9 11.3l3.71 2.7-1.42-4.36L15 7h-4.55L9 2.5 7.55 7H3l3.71 2.64L5.29 14 9 11.3z"/></svg>
                                </span>
                            </div>
                        </div> -->
                    </div>
                    <div class="ot-home__main-section--block ot-home__main-section--block-right flex flex-end items-end">
                    </div>
                </div>

                <div class="ot-home__main-section--btns-1110 hide-mobile-700">
                    <div class="ot-home__rect ot-home__rect-brands ot-home__rect-100 flex items-center justify-between">
                        <div>
                            <div class="ot-home__rect-title">
                                Brands
                            </div>                        
                            <div class="ot-home__rect-text">
                                Create an Event and Curate Your Team
                            </div>
                        </div>
                        <div class="ot-home__rect-btns flex">
                            <md-button class="outter__btn" ng-click="goClientSignup()">Sign Up</md-button>
                            <md-button class="outter__btn" ng-click="goClientLogin()">Log In</md-button>
                        </div>
                    </div>                        
                </div>
            </div>
        </div>
    </div>

    <div class="parallax__layer parallax__layer--back">
        <div class="ot-home__carousel" id="hero-brands"></div>
    </div>
</div>



<div id="group2" class="parallax__group brands-page">
    <div class="parallax__layer parallax__layer--fore" ng-class="{ 'ot-home__mobile--menu-open-margin-remove': mobileMenu || modalLogin || covidWarning }">
        <div class="ot-home__section">
            <div class="ot-home__section-container">
                <div class="ot-home__intro-section--row hide-700">
                    <div class="ot-home__rect ot-home__rect-brands">
                        <div>
                            <div class="ot-home__rect-title">
                                Brands
                            </div>                        
                            <div class="ot-home__rect-text">
                                Create an Event and Curate Your Team
                            </div>
                        </div>
                        <div class="ot-home__rect-btns flex">
                            <md-button class="outter__btn" ng-click="goClientSignup()">Sign Up</md-button>
                            <md-button class="outter__btn" ng-click="goClientLogin()">Log In</md-button>
                        </div>
                    </div>        
                </div>

                <div class="ot-home__intro-section">
                    <div class="ot-home__intro-section--title mx-auto">
                        <div class="ot-home__section-title">
                            Outfit: Your Complete Influencer Marketing Solution.
                        </div>
                    </div>
                    <div class="bottom-padding-40 ot-home__text-small--mobile">
                        Outfit’s end-to-end influencer marketing platform uses leading technology to provide seamless discovery, campaign management & attribution.
                    </div>

                    <div class="bold bottom-padding-40 ot-home__text-small--mobile">
                        Execute Hyper-Targeted Influencer Campaigns at Scale.
                    </div>
                    
                    <div class="bottom-padding-40 ot-home__text-small--mobile">
                        We provide smart technologies for brands and agencies to seamlessly connect with creators to manage campaigns, amplify their message and attribute success.
                    </div>

                    <div class="bold bottom-padding-40 ot-home__text-small--mobile">
                        How it Works:
                    </div>

                    <div class="ot-home__intro-section--row ot-home__intro-section--row-brands-marg">
                        <div class="ot-home__intro-section--img-block">
                            <div class="ot-home__intro-section--laptop">
                                <div class="ot-home__intro-section--img" style="background-image: url(../../../assets/images/brands/howitworks/outfit_forbrands_howitworks_1.png)"></div>
                            </div>
                        </div>

                        <div class="ot-home__intro-section--text-block">
                            <div class="ot-home__intro-section--text-block--number ot-home__intro-section--text-block--str-padd">1</div>
                            <div class="bold ot-home__intro-section--text-block--str-padd">
                                Plan
                            </div>
                            <div class="">
                                Plan your campaign and budget with our standardized pricing model and campaign estimates.
                            </div>
                        </div>
                    </div>

                    <div class="ot-home__intro-section--row ot-home__intro-section--row-special ot-home__intro-section--row-brands-marg">
                        <div class="ot-home__intro-section--text-block mobile-order-2">
                            <div class="ot-home__intro-section--text-block--number ot-home__intro-section--text-block--str-padd">2</div>
                            <div class="bold ot-home__intro-section--text-block--str-padd">
                                Discover
                            </div>
                            <div>
                                Quickly find niche, national or hyper-local, on-brand, micro-influencers that you can trust.
                            </div>
                        </div>

                        <div class="ot-home__intro-section--text-block mobile-order-3">
                            <div class="ot-home__intro-section--text-block--number ot-home__intro-section--text-block--str-padd">3</div>
                            <div class="bold ot-home__intro-section--text-block--str-padd">
                                Connect
                            </div>
                            <div>
                                Seamlessly conduct outreach, and all of your communications in-app and at scale.
                            </div>
                        </div>

                        <div class="ot-home__intro-section--img-block-25">
                            <div class="ot-home__intro-section--phone">
                                <div class="ot-home__intro-section--img" style="background-image: url(../../../assets/images/brands/howitworks/outfit_forbrands_howitworks_4.png)"></div>
                            </div>
                        </div>
                    </div>

                    <div class="ot-home__intro-section--row ot-home__intro-section--row-brands-marg">
                        <div class="ot-home__intro-section--img-block">
                            <div class="ot-home__intro-section--laptop">
                                <div class="ot-home__intro-section--img" style="background-image: url(../../../assets/images/brands/howitworks/outfit_forbrands_howitworks_5.png)"></div>
                            </div>
                        </div>

                        <div class="ot-home__intro-section--text-block">
                            <div class="ot-home__intro-section--text-block--number ot-home__intro-section--text-block--str-padd">4</div>
                            <div class="bold ot-home__intro-section--text-block--str-padd">
                                Amplify
                            </div>
                            <div>
                                Press go on your URL or IRL campaign and watch the applicants role in.
                            </div>
                        </div>
                    </div>

                    <div class="ot-home__intro-section--row ot-home__intro-section--row-brands-marg">
                        <div class="ot-home__intro-section--text-block">
                            <div class="ot-home__intro-section--text-block--number ot-home__intro-section--text-block--str-padd">5</div>
                            <div class="bold ot-home__intro-section--text-block--str-padd">
                                Manage
                            </div>
                            <div>
                                Manage your marketing campaign and payments all in one place.
                            </div>
                        </div>

                        <div class="ot-home__intro-section--text-block">
                            <div class="ot-home__intro-section--text-block--number ot-home__intro-section--text-block--str-padd">6</div>
                            <div class="bold ot-home__intro-section--text-block--str-padd">
                                Attribute
                            </div>
                            <div>
                                Outfit delivers all of the key data you need to directly tie success to sales.
                            </div>
                        </div>
                    </div>

                    <div class="ot-home__intro-section--column flex">
                        <div class="ot-home__intro-section--column-btn-margin">
                            <md-button class="outter__btn" ng-click="goClientSignup()">Sign Up</md-button>
                        </div>

                        <div class="ot-home__text-small ot-home__intro-section--pad-talent">Brands Taking Control With Outfit</div>
                        <div class="ot-home__intro-section--logos-horizontal">
                            <div class="ot-home__intro-section--img" style="background-image: url(../../../assets/images/outfit_client_logoblock_horizontal.png)"></div>
                        </div>

                        <div class="ot-home__intro-section--logos">
                            <div class="ot-home__intro-section--img" style="background-image: url(../../../assets/images/outfit_client_logoblock.png)"></div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="parallax__layer parallax__layer--base">
    </div>
</div>


<div id="group3" class="parallax__group">
    <div class="parallax__layer parallax__layer--base">
        <div class="ot-home__section">
            <div class="ot-home__rect-container mx-auto top-margin-0">
                <div class="ot-home__rect ot-home__rect-event mx-auto">
                    <div class="ot-home__rect-event--logo">
                        <div class="ot-home__intro-section--img" style="background-image:url({{ EventsPublic[featIndex].logo_src }})"></div>
                    </div>
                    <div class="ot-home__rect-event--info">
                        <div class="ot-home__rect-event--title bold">{{ EventsPublic[featIndex].event_group_title }}</div>
                        <div class="ot-home__text-small">{{ EventsPublic[featIndex].city.title + ', ' + EventsPublic[featIndex].city.region.abbr }}</div>
                    </div>
                    <div class="ot-home__rect-event--indicators">
                        <div class="flex" ng-if="EventsPublic.length > 1">
                            <span class="ot-home__slider-indicator ot-home__slider-indicator--black cursor-pointer" 
                                  ng-repeat="Event in EventsPublic track by $index" 
                                  ng-class="{ 'ot-home__slider-indicator--black-active': featIndex === $index }" 
                                  ng-click="nextEvent($index)"></span>
                            <!-- <span class="ot-home__slider-indicator ot-home__slider-indicator--black cursor-pointer" 
                                  ng-class="{ 'ot-home__slider-indicator--black-active': featIndex === 0 }" 
                                  ng-click="nextEvent(0)"></span>
                            <span class="ot-home__slider-indicator ot-home__slider-indicator--black cursor-pointer" 
                                  ng-class="{ 'ot-home__slider-indicator--black-active': featIndex === 1 }" 
                                  ng-click="nextEvent(1)"></span>
                            <span class="ot-home__slider-indicator ot-home__slider-indicator--black cursor-pointer" 
                                  ng-class="{ 'ot-home__slider-indicator--black-active': featIndex === 2 }" 
                                  ng-click="nextEvent(2)"></span>
                            <span class="ot-home__slider-indicator ot-home__slider-indicator--black cursor-pointer" 
                                  ng-class="{ 'ot-home__slider-indicator--black-active': featIndex === 3 }" 
                                  ng-click="nextEvent(3)"></span> -->
                        </div>
                    </div>
                </div>
            </div>        
        </div>
    </div>

    <div class="parallax__layer parallax__layer--back">
        <div class="ot-home__carousel" ng-repeat="event in EventsPublic track by $index" style="background-image:url({{ event.image.url }})" ng-class="{ 'change-opacity': featIndex == $index }"></div>
    </div>
<!--
  <div class="parallax__layer parallax__layer--deep">
  </div>
-->
</div>


<div id="group4" class="parallax__group">
    <div class="parallax__layer parallax__layer--fore">
        <div class="ot-home__section">
            <div class="ot-home__section-container">

                <div class="ot-home__highlights-section">
                    <div class="ot-home__highlights-section--block-1">
                        <div class="ot-home__section-title">
                            Talent Highlights
                        </div>
                        <div class="ot-home__highlights-talent flex justify-between">
                            <div class="ot-home__highlights-talent--row">
                                <div class="box__talent-highlights" ng-repeat="User in UsersPublic | limitTo:3:0">
                                    <div class="box__background" style="background-image:url({{ User.image.url}})">
                                    </div>
                                    <div class="images__stafflist-rectangle box__talent-highlights_width">
                                        <div class="images__text images__text--smallest images__text--white images--rectangle-top-padding images--mini-bottom-margin box__talent-highlights--text">
                                            {{ User.first_name }}
                                        </div>
                                        <div class="images__text images__text--mini images__text--white box__talent-highlights--text">
                                            {{ User.skills.toString().join(', ') }}
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="ot-home__highlights-talent--row">
                                <div class="box__talent-highlights" ng-repeat="User in UsersPublic | limitTo:3:3">
                                    <div class="box__background" style="background-image:url({{ User.image.url}})">
                                    </div>
                                    <div class="images__stafflist-rectangle box__talent-highlights_width">
                                        <div class="images__text images__text--smallest images__text--white images--rectangle-top-padding images--mini-bottom-margin box__talent-highlights--text">
                                            {{ User.first_name }}
                                        </div>
                                        <div class="images__text images__text--mini images__text--white box__talent-highlights--text">
                                            {{ User.skills.toString().join(', ') }}
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="ot-home__highlights-talent--row hide-mobile">
                                <div class="box__talent-highlights" ng-repeat="User in UsersPublic | limitTo:3:6">
                                    <div class="box__background" style="background-image:url({{ User.image.url}})">
                                    </div>
                                    <div class="images__stafflist-rectangle box__talent-highlights_width">
                                        <div class="images__text images__text--smallest images__text--white images--rectangle-top-padding images--mini-bottom-margin box__talent-highlights--text">
                                            {{ User.first_name }}
                                        </div>
                                        <div class="images__text images__text--mini images__text--white box__talent-highlights--text">
                                            {{ User.skills.toString().join(', ') }}
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="ot-home__highlights-talent--row hide-mobile">
                                <div class="box__talent-highlights" ng-repeat="User in UsersPublic | limitTo:3:9">
                                    <div class="box__background" style="background-image:url({{ User.image.url}})">
                                    </div>
                                    <div class="images__stafflist-rectangle box__talent-highlights_width">
                                        <div class="images__text images__text--smallest images__text--white images--rectangle-top-padding images--mini-bottom-margin box__talent-highlights--text">
                                            {{ User.first_name }}
                                        </div>
                                        <div class="images__text images__text--mini images__text--white box__talent-highlights--text">
                                            {{ User.skills.toString().join(', ') }}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="ot-home__highlights-section--block-2">
                        <div class="ot-home__highlights-section--img-block">
                            <div class="ot-home__intro-section--img" style="background-image: url(../../../assets/images/brands/howitworks/outfit_forbrands_howitworks_2.png)"></div>
                        </div>

                        <div class="center">
                            <md-button class="outter__btn outter__btn--long" ng-click="goClientSignup()">
                                Sign Up and View More
                            </md-button>
                        </div>
                    </div>
                </div>

                <div class="ot-home__section-title ot-home__text-white ot-home__highlights-section--title">
                    Join the Party.
                </div>

                <div class="ot-home__highlights-section--btns">
                    <div class="ot-home__rect-80">
                        <div class="ot-home__rect ot-home__rect-100 ot-home__rect-brands">
                            <div class="ot-home__rect-title">
                                Brands
                            </div>                        
                            <md-button class="outter__btn" ng-click="goClientSignup()">Sign Up</md-button>
                        </div>
                    </div>

                    <!-- <div class="ot-home__rect ot-home__rect-20 center">
                        <div class="bold">Questions?</div>
                        <a ui-sref="signedout.contact" class="ot-home__text-small">Contact Us</a>
                    </div> -->
                </div>

            </div>
        </div>  
    </div>


    <div class="parallax__layer parallax__layer--base flex flex-column justify-end">
        <div class="ot-home__section--bottom ot-home__brands-bg">
        </div>
    </div>
</div>