<div id="group1" class="parallax__group">
    <div class="parallax__layer parallax__layer--base">
        <div class="ot-home__section flex flex-column justify-end">
            <div class="ot-home__main-section mx-auto flex flex-column justify-between">
                <div class="ot-home__main-section--text-block flex justify-start">
                    <div class="ot-home__main-section--block ot-home__main-section--block-left flex flex-column justify-between">
                        <div>
                            <div class="ot-home__main-title">
                                Have a<br>Question?
                            </div>
                            <div class="bold ot-home__main-subtitle">
                                We're Here to Help.
                            </div>
                        </div>
                        <div class="ot-home__text-small ot-home__main-talent-info">
                            <div class="ot-home__main-talent-info--str">Austin</div>
                            <div class="ot-home__main-talent-info--str">Bartender</div>
                            <div class="ot-home__main-talent-info--stars">
                                <span class="ot-home__rating">
                                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" class="ot-home__rating--star"><path fill="none" d="M0 0h18v18H0V0z"/><path d="M9 11.3l3.71 2.7-1.42-4.36L15 7h-4.55L9 2.5 7.55 7H3l3.71 2.64L5.29 14 9 11.3z"/></svg>
                                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" class="ot-home__rating--star"><path fill="none" d="M0 0h18v18H0V0z"/><path d="M9 11.3l3.71 2.7-1.42-4.36L15 7h-4.55L9 2.5 7.55 7H3l3.71 2.64L5.29 14 9 11.3z"/></svg>
                                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" class="ot-home__rating--star"><path fill="none" d="M0 0h18v18H0V0z"/><path d="M9 11.3l3.71 2.7-1.42-4.36L15 7h-4.55L9 2.5 7.55 7H3l3.71 2.64L5.29 14 9 11.3z"/></svg>
                                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" class="ot-home__rating--star"><path fill="none" d="M0 0h18v18H0V0z"/><path d="M9 11.3l3.71 2.7-1.42-4.36L15 7h-4.55L9 2.5 7.55 7H3l3.71 2.64L5.29 14 9 11.3z"/></svg>
                                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" class="ot-home__rating--star"><path fill="none" d="M0 0h18v18H0V0z"/><path d="M9 11.3l3.71 2.7-1.42-4.36L15 7h-4.55L9 2.5 7.55 7H3l3.71 2.64L5.29 14 9 11.3z"/></svg>
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="ot-home__main-section--block ot-home__main-section--block-right flex flex-end items-end">
                    </div>
                </div>

                <div class="ot-home__main-section--btns-1110 flex justify-between hide-mobile-700">
                    <div class="ot-home__rect ot-home__rect-50--padd ot-home__rect-50">
                        <div class="ot-home__rect-title">
                            Brands
                        </div>                        
                        <md-button class="outter__btn" ng-click="goClientSignup()">Sign Up</md-button>
                    </div>

                    <div class="ot-home__rect ot-home__rect-50--padd ot-home__rect-50">
                        <div class="ot-home__rect-title">
                            Talent
                        </div>                        
                        <md-button class="outter__btn" ng-click="goSignup()">Apply</md-button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <div class="parallax__layer parallax__layer--back">
        <div class="ot-home__carousel" id="hero-contact"></div>
    </div>
</div>



<div id="group5" class="parallax__group">
    <div class="parallax__layer parallax__layer--fore hide-700" ng-class="{ 'ot-home__mobile--menu-open-margin-remove': mobileMenu || modalLogin || covidWarning }">
        <div class="ot-home__section ot-home__faq-section">
            <div class="ot-home__section-container">
                <div class="ot-home__intro-section--row">
                    <div class="ot-home__rect ot-home__rect-brands">
                        <div>
                            <div class="ot-home__rect-title">
                                Brands
                            </div>                        
                            <div class="ot-home__rect-text">
                                Create an Event and Curate Your Team
                            </div>
                        </div>
                        <div class="ot-home__rect-btns flex">
                            <md-button class="outter__btn" ng-click="goClientSignup()">Sign Up</md-button>
                            <md-button class="outter__btn" ng-click="goClientLogin()">Log In</md-button>
                        </div>
                    </div>

                    <div class="ot-home__rect ot-home__rect-talent">
                        <div>
                            <div class="ot-home__rect-title">
                                Talent
                            </div>                        
                            <div class="ot-home__rect-text">
                                Create Your Profile and Get Booked
                            </div>
                        </div>
                        <div class="ot-home__rect-btns">
                            <md-button class="outter__btn" ng-click="goSignup()">Apply</md-button>
                            <md-button class="outter__btn" ng-click="goSignin()">Log In</md-button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="parallax__layer parallax__layer--base">
        
        <div class="ot-home__section ot-home__faq-section relative" style="z-index: 11">
            <div class="ot-home__section-container">
                <div class="ot-home__section-title ot-home__faq-section-title">
                    Frequently Asked Questions
                </div>
                <div class="ot-home__faq">
                    <div class="ot-home__faq--group">
                        <div class="ot-home__faq--title" ng-click="openContent($event)">
                            What is Outfit?
                            <span class="right"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" class="ot-home__faq--icon"><path fill="none" d="M0 0h24v24H0V0z"/><path d="M7 10l5 5 5-5H7z"/></svg></span>
                        </div>
                        <div class="ot-home__faq--p">
                            <div class="ot-home__faq--row">
                                Outfit is a digital platform changing the way brands staff their events by handing over control to the users.
                            </div>
                            <div class="ot-home__faq--row">
                                Through Outfit, Brands have direct access to our Talent feed, connecting them to a marketplace of qualified event staff, and the ability to hand-select a dream team of people who will make their party. 
                            </div>
                            <div class="ot-home__faq--row">
                                Talent leverage the platform to highlight their skills, build their personal portfolio and maintain a steady stream of bookings while providing high-quality service for Brands.
                            </div>
                        </div>
                    </div>
                    <div class="ot-home__faq--group">
                        <div class="ot-home__faq--title" ng-click="openContent($event)">
                            How is Outfit different from a standard staffing agency?
                            <span class="right"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" class="ot-home__faq--icon"><path fill="none" d="M0 0h24v24H0V0z"/><path d="M7 10l5 5 5-5H7z"/></svg></span>
                        </div>
                        <div class="ot-home__faq--p">
                            <div class="ot-home__faq--row">
                                Outfit is different because we’re not an agency. We’re a digital platform that hands over control to the users. Talent act as their own agents, while Brands hand-select and communicate directly with their event team. Staffing simplified.
                            </div>
                        </div>
                    </div>
                    <div class="ot-home__faq--group">
                        <div class="ot-home__faq--title" ng-click="openContent($event)">
                            What type of Talent do you provide?
                            <span class="right"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" class="ot-home__faq--icon"><path fill="none" d="M0 0h24v24H0V0z"/><path d="M7 10l5 5 5-5H7z"/></svg></span>
                        </div>
                        <div class="ot-home__faq--p">
                            <div class="ot-home__faq--row">
                                Outfit prides itself on our Talent feed, a marketplace of qualified front-of-house event staff:
                            </div>
                            <div class="ot-home__faq--row">
                                Bartenders – Bar Service and Mixology<br>
                                Servers – Food and Beverage Service<br>
                                Personalities – Hosting, Check-in, Brand Ambassador<br>
                                Captains – Event Staff Management
                            </div>
                            <div class="ot-home__faq--row">
                                Concierge services are available upon request for personalized solutions including access to additional Talent profiles such as photographers and DJs. If your event requires special support, contact hello@outfittalent.com to discuss additional service requirements.
                            </div>
                        </div>
                    </div>
                    <div class="ot-home__faq--group">
                        <div class="ot-home__faq--title" ng-click="openContent($event)">
                            What is the cost of Talent?
                            <span class="right"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" class="ot-home__faq--icon"><path fill="none" d="M0 0h24v24H0V0z"/><path d="M7 10l5 5 5-5H7z"/></svg></span>
                        </div>
                        <div class="ot-home__faq--p">
                            <div class="ot-home__faq--row">
                                Outfit values complete payment transparency, and by allowing users to manage all details through the platform Brands pay less, Talent take home more. The cost per Talent is $38/hour, inclusive of a 24% connection fee. On average, the cost to Brands is about 30% lower than traditional staffing services and Talent take home 30% more.
                            </div>
                        </div>
                    </div>
                    <div class="ot-home__faq--group">
                        <div class="ot-home__faq--title" ng-click="openContent($event)">
                            How are Talent paid?
                            <span class="right"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" class="ot-home__faq--icon"><path fill="none" d="M0 0h24v24H0V0z"/><path d="M7 10l5 5 5-5H7z"/></svg></span>
                        </div>
                        <div class="ot-home__faq--p">
                            <div class="ot-home__faq--row">
                                Once Brands confirm their Talent, Outfit automatically generates a digital invoice with a breakdown of all costs. Enter card details to secure Talent with payment processed upon completion of the event. Once the Brands confirms the Talent's hours, payment is triggered via our secure payment system, Stripe. You'll then be able to access your invoice and download a PDF.
                            </div>
                        </div>
                    </div>
                    <div class="ot-home__faq--group">
                        <div class="ot-home__faq--title" ng-click="openContent($event)">
                            What types of events does the Outfit platform support?
                            <span class="right"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" class="ot-home__faq--icon"><path fill="none" d="M0 0h24v24H0V0z"/><path d="M7 10l5 5 5-5H7z"/></svg></span>
                        </div>
                        <div class="ot-home__faq--p">
                            <div class="ot-home__faq--row">
                                Events come in all shapes and sizes and Outfit's purpose is to hand over control of the staffing process, allowing Brands to custom-tailor all details to your specific need. Whether your event is a high-impact product launch, limited engagement pop-up experience, or a private party, Outfit’s platform is designed to support any scale. 
                            </div>
                        </div>
                    </div>
                    <div class="ot-home__faq--group">
                        <div class="ot-home__faq--title" ng-click="openContent($event)">
                            Is there a minimum number of hours required for booking Talent?
                            <span class="right"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" class="ot-home__faq--icon"><path fill="none" d="M0 0h24v24H0V0z"/><path d="M7 10l5 5 5-5H7z"/></svg></span>
                        </div>
                        <div class="ot-home__faq--p">
                            <div class="ot-home__faq--row">
                                No minimum hours required. Create your event, review Talent applications and book the team best suited to your needs.
                            </div>
                        </div>
                    </div>
                    <div class="ot-home__faq--group">
                        <div class="ot-home__faq--title" ng-click="openContent($event)">
                            Is there a user ratings system?
                            <span class="right"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" class="ot-home__faq--icon"><path fill="none" d="M0 0h24v24H0V0z"/><path d="M7 10l5 5 5-5H7z"/></svg></span>
                        </div>
                        <div class="ot-home__faq--p">
                            <div class="ot-home__faq--row">
                                Yes. Users have the ability to rate each other at the end of every shift, ensuring accountability for delivering high-quality service.
                            </div>
                        </div>
                    </div>
                    <div class="ot-home__faq--group">
                        <div class="ot-home__faq--title" ng-click="openContent($event)">
                            Does Outfit comply with labor and employment laws?
                            <span class="right"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" class="ot-home__faq--icon"><path fill="none" d="M0 0h24v24H0V0z"/><path d="M7 10l5 5 5-5H7z"/></svg></span>
                        </div>
                        <div class="ot-home__faq--p">
                            <div class="ot-home__faq--row">
                                Yes.
                            </div>
                        </div>
                    </div>
                    <div class="ot-home__faq--group">
                        <div class="ot-home__faq--title" ng-click="openContent($event)">
                            How does Outfit screen Talent? Is there a training program?
                            <span class="right"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" class="ot-home__faq--icon"><path fill="none" d="M0 0h24v24H0V0z"/><path d="M7 10l5 5 5-5H7z"/></svg></span>
                        </div>
                        <div class="ot-home__faq--p">
                            <div class="ot-home__faq--row">
                                Talent must apply and agree to our Terms of Use and Privacy Policy in order to use the Outfit platform. Our ratings systems ensures accountability on both sides of the platform for Brands and Talent alike.
                            </div>
                            <div class="ot-home__faq--row">
                                As Outfit is not an agency, all Talent on the platform are independent contractors, meaning they are self-employed and representing themselves. By posting an event, Brands create an employment opportunity that the Talent applies for. Brands are able to confirm and hire Talent based on profile, work history, linked social media accounts, ratings, and accountability with Outfit platform. 
                            </div>
                        </div>
                    </div>
                    <div class="ot-home__faq--group">
                        <div class="ot-home__faq--title" ng-click="openContent($event)">
                            Do you provide a catering permit or liquor license?
                            <span class="right"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" class="ot-home__faq--icon"><path fill="none" d="M0 0h24v24H0V0z"/><path d="M7 10l5 5 5-5H7z"/></svg></span>
                        </div>
                        <div class="ot-home__faq--p">
                            <div class="ot-home__faq--row">
                                Outfit is primarily a platform connecting event producers directly with Talent so we don't offer catering or liquor licenses. However, we are happy to provide a list of preferred catering partners who can provide licenses as part of our concierge service. Please reach out to hello@outfittalent.com with any questions.
                            </div>
                        </div>
                    </div>
                    <div class="ot-home__faq--group">
                        <div class="ot-home__faq--title" ng-click="openContent($event)">
                            How can talent create engaging profiles that attract brands?
                            <span class="right"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" class="ot-home__faq--icon"><path fill="none" d="M0 0h24v24H0V0z"/><path d="M7 10l5 5 5-5H7z"/></svg></span>
                        </div>
                        <div class="ot-home__faq--p">
                            <div class="ot-home__faq--row">
                                Outfit celebrates Talent and we encourage you to use the platform to build your personal brand. Complete your profile by adding pictures, highlighting your skills and experience, work history, linked social media accounts and ratings history.
                            </div>
                        </div>
                    </div>
                    <div class="ot-home__faq--group">
                        <div class="ot-home__faq--title" ng-click="openContent($event)">
                            How will I be notified of new events and shifts?
                            <span class="right"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" class="ot-home__faq--icon"><path fill="none" d="M0 0h24v24H0V0z"/><path d="M7 10l5 5 5-5H7z"/></svg></span>
                        </div>
                        <div class="ot-home__faq--p">
                            <div class="ot-home__faq--row">
                                Anytime an event is posted in a Talent's area of expertise, you'll receive a notification alerting you to the new opportunity. If you have been specifically invited to a job, you will receive a notification with details. You'll then need to accept or reject the invite.
                            </div>
                        </div>
                    </div>
                </div>
                <form name="form" class="ot-form ot-form--inner-pad-25" ng-submit="save()" name="form" novalidate>
                    <div class="ot-form__title">
                        Send Us a Note
                    </div>
                    <div class="ot-form__group flex justify-between ot-form__group--column-mobile">
                        <div class="ot-form__row-mobile relative">
                            <div class="ot-form__label">First Name</div>
                            <input class="ot-form__input" type="text" ng-model="contact.first_name" name="first_name" placeholder="James" required maxlength="50" ng-class="{ 'ot-form__input-error': form.$submitted && form.first_name.$invalid }">

                            <div ng-if="form.$submitted" ng-messages="form.first_name.$error" for="first_name" class="ot-form__box-error">
                                <span class="ot-form__error" ng-message="required">First name is required</span>
                                <span class="ot-form__error" ng-message="maxlength">Only 50 characters allowed</span>
                            </div>
                        </div>
                        <div class="ot-form__row-mobile relative">
                            <div class="ot-form__label">Last Name</div>
                            <input class="ot-form__input" type="text" ng-model="contact.last_name" name="last_name" placeholder="Wilson" required maxlength="50" ng-class="{ 'ot-form__input-error': form.$submitted && form.last_name.$invalid }">

                            <div ng-if="form.$submitted" ng-messages="form.last_name.$error" for="last_name" class="ot-form__box-error">
                                <span class="ot-form__error" ng-message="required">Last name is required</span>
                                <span class="ot-form__error" ng-message="maxlength">Only 50 characters allowed</span>
                            </div>
                        </div>
                    </div>
                    <div class="ot-form__group">
                        <div class="ot-form__label">Email</div>
                        <input class="ot-form__input" type="email" ng-model="contact.email" name="email" placeholder="email@gmail.com" required ng-class="{ 'ot-form__input-error': form.$submitted && form.email.$invalid }">

                        <div ng-if="form.$submitted" ng-messages="form.email.$error" for="email" class="ot-form__box-error">
                            <span class="ot-form__error" ng-message="required">Email is required</span>
                            <span class="ot-form__error" ng-message="email">Enter a valid email</span>
                        </div>
                    </div>
                    <div class="ot-form__group">
                        <div class="ot-form__label">I am interested in:</div>
                        <md-radio-group ng-model="contact.subject" required>
                            <md-radio-button value="Becoming a Client and Booking Talent" class="md-default">
                                <span class="ot-form__label">Becoming a Client and Booking Talent</span>
                            </md-radio-button>
                            <md-radio-button value="Applying to be Talent">
                                <span class="ot-form__label">Applying to be Talent</span>
                            </md-radio-button>
                            <md-radio-button value="Other">
                                <span class="ot-form__label">Other</span>
                            </md-radio-button>
                        </md-radio-group>
                    </div>
                    <div class="ot-form__group bottom-margin-0">
                        <div class="ot-form__label">
                            Message
                        </div>
                        <textarea class="ot-form__textarea" rows="10" ng-model="contact.message" name="message" placeholder="How can I become a Talent?" required maxlength="1000" ng-class="{ 'ot-form__textarea-error': form.$submitted && form.message.$invalid }"></textarea>

                        <div ng-if="form.$submitted" ng-messages="form.message.$error" for="message" class="ot-form__box-error">
                            <span class="ot-form__error" ng-message="required">Message is required</span>
                            <span class="ot-form__error" ng-message="maxlength">Only 1000 characters allowed</span>
                        </div>
                    </div>
                    <div class="ot-form__group ot-form--contact-last">
                        <md-button type="submit" class="outter__btn" ng-show="!formSent">Submit</md-button>
                        <div class="" ng-show="formSent">
                            Thank you for reaching out. We will respond shortly. Have a great day!
                        </div>
                    </div>
                </form>

                <div class="ot-home__section-title ot-home__text-white ot-home__highlights-section--title">
                    Join the Party.
                </div>

                <div class="ot-home__rect-container-100 flex justify-between">
                    <div class="ot-home__rect ot-home__rect-50--padd ot-home__rect-50 ot-home__rect--mobile-column">
                        <div class="ot-home__rect-title">
                            Brands
                        </div>                        
                        <md-button class="outter__btn" ng-click="goClientSignup()">Sign Up</md-button>
                    </div>

                    <div class="ot-home__rect ot-home__rect-50--padd ot-home__rect-50 ot-home__rect--mobile-column">
                        <div class="ot-home__rect-title">
                            Talent
                        </div>                        
                        <md-button class="outter__btn" ng-click="goSignup()">Apply</md-button>
                    </div>
                </div>

            </div>

        </div>
           
        <div class="ot-home__section--bottom ot-home__contact-bg">
        </div>
    </div>
</div>