<div class="old-section old-bg"></div>
<div class="account-switch__section-1 relative" style="z-index: 2">
    <div class="main main__forgot main--basic-bottom-padding mx-auto">
        <div class="main__text main__text--largest main--basic-top-padding mx-auto center">
            Need help with your password?
        </div>
    </div>
    <form class="form form__signedout mx-auto" ng-submit="save()" name="form" novalidate="">
        <!-- This is view before submission -->
        <div ng-show="form.$invalid || ! form.$submitted">
            <div class="form__text--mid form__forgot mx-auto center">
                Enter the email address you use to sign into your account.
            </div>
            <div class="form__group-forget">
                <input type="email" class="form__input" id="email" name="email" ng-model="email" placeholder="jeremyd@mail.com" server-validators="errors" required>
                <div ng-if="form.$submitted" ng-messages="form.email.$error" for="email" class="form__error-switch-forget" >
                    <span class="form__error-forgot" ng-message="required">Email is required</span>
                    <span class="form__error-forgot" ng-message="email">Enter a valid email</span>
                    <span class="form__error-forgot" ng-message="exists">Email not found</span>
                </div>
            </div>
            <md-button class="form__more old-btn form__text--smallest" type="submit">
                Submit
                <i class="fa fa-caret-right right" aria-hidden="true"></i>
            </md-button>
        </div>
        <!-- This is view after submission -->
        <div ng-show="form.$valid && form.$submitted">
            <div class="form__text--mid form__forgot mx-auto center">
                Please check your email for instructions to reset your password.
            </div>
            <button class="form__more form__more--done form__text--smallest">
                Email Sent
                <i class="fa fa-check right" aria-hidden="true"></i>
            </button>
        </div>
    </form>
</div>
<div class="old-section-bottom old-bg flex flex-column justify-end">
</div>