<div id="group0" ng-if="animate" ng-class="{ 'logo-animation-1': animate }">
    <div class="logo__container absolute">
        <span class="icon-logo"></span>
    </div>

    <div class="logo__black-bg" ng-class="{ 'logo-animation-2': animate }">
        <div class="logo__container">
            <span class="icon-logo-white"></span>
        </div>
    </div>
</div>
    
<div id="group1" class="parallax__group">
    <div class="parallax__layer parallax__layer--base">
        <div class="ot-home__section flex flex-column justify-end">
            <div class="ot-home__main-section mx-auto flex flex-column justify-between">
                <div class="ot-home__main-section--text-block flex justify-start">
                    <div class="ot-home__main-section--block ot-home__main-section--block-left flex flex-column justify-between">
                        <div>
                            <div class="ot-home__main-title">
                                People Make the Party.
                            </div>
                            <div class="bold ot-home__main-subtitle">
                                Next-Generation Event Staffing,<br>Connecting Brands with Event Pros.
                            </div>
                        </div>
                        <div class="ot-home__text-small ot-home__main-talent-info" ng-class="{ 'animate__hide-on-start-2': animate }">
                            <div class="ot-home__main-talent-info--str">{{ mainInfo[heroIndex].name }}</div>
                            <div class="ot-home__main-talent-info--str">{{ mainInfo[heroIndex].position }}</div>
                            <div class="ot-home__main-talent-info--stars">
                                <span class="ot-home__rating">
                                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" class="ot-home__rating--star"><path fill="none" d="M0 0h18v18H0V0z"/><path d="M9 11.3l3.71 2.7-1.42-4.36L15 7h-4.55L9 2.5 7.55 7H3l3.71 2.64L5.29 14 9 11.3z"/></svg>
                                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" class="ot-home__rating--star"><path fill="none" d="M0 0h18v18H0V0z"/><path d="M9 11.3l3.71 2.7-1.42-4.36L15 7h-4.55L9 2.5 7.55 7H3l3.71 2.64L5.29 14 9 11.3z"/></svg>
                                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" class="ot-home__rating--star"><path fill="none" d="M0 0h18v18H0V0z"/><path d="M9 11.3l3.71 2.7-1.42-4.36L15 7h-4.55L9 2.5 7.55 7H3l3.71 2.64L5.29 14 9 11.3z"/></svg>
                                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" class="ot-home__rating--star"><path fill="none" d="M0 0h18v18H0V0z"/><path d="M9 11.3l3.71 2.7-1.42-4.36L15 7h-4.55L9 2.5 7.55 7H3l3.71 2.64L5.29 14 9 11.3z"/></svg>
                                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" class="ot-home__rating--star"><path fill="none" d="M0 0h18v18H0V0z"/><path d="M9 11.3l3.71 2.7-1.42-4.36L15 7h-4.55L9 2.5 7.55 7H3l3.71 2.64L5.29 14 9 11.3z"/></svg>
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="ot-home__main-section--block ot-home__main-section--block-right flex flex-end items-end">
                        <div class="ot-home__slider-indicator--box" ng-class="{ 'animate__hide-on-start-2': animate }" ng-if="mainInfo.length > 1">
                            <!-- <span class="ot-home__slider-indicator cursor-pointer" 
                                  ng-class="{ 'ot-home__slider-indicator-active': featIndex === 0 }" 
                                  ng-click="nextHero(0)"></span>
                            <span class="ot-home__slider-indicator cursor-pointer" 
                                  ng-class="{ 'ot-home__slider-indicator-active': featIndex === 1 }" 
                                  ng-click="nextHero(1)"></span>
                            <span class="ot-home__slider-indicator cursor-pointer" 
                                  ng-class="{ 'ot-home__slider-indicator-active': featIndex === 2 }" 
                                  ng-click="nextHero(2)"></span>
                            <span class="ot-home__slider-indicator cursor-pointer" 
                                  ng-class="{ 'ot-home__slider-indicator-active': featIndex === 3 }" 
                                  ng-click="nextHero(3)"></span> -->
                            <span class="ot-home__slider-indicator cursor-pointer" 
                                  ng-repeat="item in mainInfo track by $index" 
                                  ng-class="{ 'ot-home__slider-indicator-active': heroIndex === $index }" 
                                  ng-click="nextHero($index)"></span>
                        </div>
                    </div>  
                </div>

                <div class="ot-home__main-section--btns flex justify-between hide-mobile-700" ng-class="{ 'animate__roll-in': animate }">
                    <div class="ot-home__rect ot-home__rect-50 ot-home__rect-brands ot-home__rect--mobile-column">
                        <div>
                            <div class="ot-home__rect-title">
                                Brands
                            </div>                        
                            <div class="ot-home__rect-text">
                                Create an Event and Curate Your Team
                            </div>
                        </div>
                        <div class="ot-home__rect-btns flex">
                            <md-button class="outter__btn" ng-click="goClientSignup()">Sign Up</md-button>
                            <md-button class="outter__btn" ng-click="goClientLogin()">Log In</md-button>
                        </div>
                    </div>

                    <div class="ot-home__rect ot-home__rect-50 ot-home__rect-talent ot-home__rect--mobile-column">
                        <div>
                            <div class="ot-home__rect-title">
                                Talent
                            </div>                        
                            <div class="ot-home__rect-text">
                                Create Your Profile and Get Booked
                            </div>
                        </div>
                        <div class="ot-home__rect-btns">
                            <md-button class="outter__btn" ng-click="goSignup()">Apply</md-button>
                            <md-button class="outter__btn" ng-click="goSignin()">Log In</md-button>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
    
    <div class="parallax__layer parallax__layer--back" ng-class="{ 'animate__show-full': animate }">
        <!-- <div class="ot-home__carousel" id="hero1" ng-class="{ 'change-opacity': featIndex === 0 }"></div>
        <div class="ot-home__carousel" id="hero2" ng-class="{ 'change-opacity': featIndex === 1 }"></div>
        <div class="ot-home__carousel" id="hero3" ng-class="{ 'change-opacity': featIndex === 2 }"></div>
        <div class="ot-home__carousel" id="hero4" ng-class="{ 'change-opacity': featIndex === 3 }"></div> -->
        <div class="ot-home__carousel" ng-repeat="item in mainInfo track by $index" ng-class="{ 'change-opacity': heroIndex === $index }" style="background-image: url({{item.image}});"></div>
    </div>
</div>
    
    
<div id="group2" class="parallax__group home-page">
    <div class="parallax__layer parallax__layer--fore" ng-class="{ 'ot-home__mobile--menu-open-margin-remove': mobileMenu || modalLogin || covidWarning }">
        <div class="ot-home__section">
            <div class="ot-home__section-container">
                <div class="ot-home__intro-section--row hide-700">
                    <div class="ot-home__rect ot-home__rect-brands">
                        <div>
                            <div class="ot-home__rect-title">
                                Brands
                            </div>                        
                            <div class="ot-home__rect-text">
                                Create an Event and Curate Your Team
                            </div>
                        </div>
                        <div class="ot-home__rect-btns flex">
                            <md-button class="outter__btn" ng-click="goClientSignup()">Sign Up</md-button>
                            <md-button class="outter__btn" ng-click="goClientLogin()">Log In</md-button>
                        </div>
                    </div>

                    <div class="ot-home__rect ot-home__rect-talent">
                        <div>
                            <div class="ot-home__rect-title">
                                Talent
                            </div>                        
                            <div class="ot-home__rect-text">
                                Create Your Profile and Get Booked
                            </div>
                        </div>
                        <div class="ot-home__rect-btns">
                            <md-button class="outter__btn" ng-click="goSignup()">Apply</md-button>
                            <md-button class="outter__btn" ng-click="goSignin()">Log In</md-button>
                        </div>
                    </div>
                </div>

                <div class="ot-home__intro-section">
                    <div class="ot-home__section-title ot-home__intro-section--home center">
                        Curated Event Teams that Elevate Brand Experiences.
                    </div>
                    <div class="ot-home__intro-section--row">
                        <div class="ot-home__intro-section--block-1">
                            <div class="ot-home__intro-section--laptop">
                                <div class="ot-home__intro-section--img" style="background-image: url(../../../assets/images/home/howitworks/outfit_forbrands_howitworks_1.png)"></div>
                            </div>
                        </div>
                        
                        <div class="ot-home__intro-section--block-2">
                            <div class="ot-home__intro-section--mobile-pad-1">
                                Outfit’s digital platform puts control in the hands of Brands, connecting them directly to Talent and creating a simplified, personalized event staffing experience.
                            </div>
                            <div class="ot-home__intro-section--mobile-pad-1">
                                In a few clicks, create an event, hand-select your dream team, pay direct and rate your experience.
                            </div>
                            <div class="ot-home__intro-section--mobile-pad-1">
                                No hidden fees, no hassles at the door.
                            </div>
                        </div>
                        
                    </div>
                    <div class="ot-home__intro-section--row ot-home__intro-section--row-reverse">
                        <div class="ot-home__intro-section--block-1">
                            <div class="ot-home__text-small ot-home__intro-section--pad-home">Brands Taking Control With Outfit</div>
                            <div class="ot-home__intro-section--logos">
                                <div class="ot-home__intro-section--img" style="background-image: url(../../../assets/images/outfit_client_logoblock.png)"></div>
                            </div>
                        </div>
                        <div class="ot-home__intro-section--block-2 ot-home__intro-section--mobile-pad-1">
                            <div class="bold ot-home__intro-section--mobile-pad-1">
                                Let’s make a scene.
                            </div>
                            <div class="ot-home__intro-section--btn-margin">
                                <md-button class="outter__btn outter__btn--long" ng-click="state.go('signedout.brands')">Learn More and Sign Up</md-button>
                            </div>
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="parallax__layer parallax__layer--base">
    </div>
</div>
    
<div id="group3" class="parallax__group">
    <div class="parallax__layer parallax__layer--base">
        <div class="ot-home__section">
            <div class="ot-home__rect-container mx-auto top-margin-0">
                <div class="ot-home__rect ot-home__rect-event mx-auto">
                    <div class="ot-home__rect-event--logo">
                        <div class="ot-home__intro-section--img" style="background-image:url({{ EventsPublic[featIndex].logo_src }})"></div>
                    </div>
                    <div class="ot-home__rect-event--info">
                        <div class="ot-home__rect-event--title bold">{{ EventsPublic[featIndex].event_group_title }}</div>
                        <div class="ot-home__text-small">{{ EventsPublic[featIndex].city.title + ', ' + EventsPublic[featIndex].city.region.abbr }}</div>
                    </div>
                    <div class="ot-home__rect-event--indicators">
                        <div class="flex" ng-if="EventsPublic.length > 1">
                            <span class="ot-home__slider-indicator ot-home__slider-indicator--black cursor-pointer" 
                                  ng-repeat="Event in EventsPublic track by $index" 
                                  ng-class="{ 'ot-home__slider-indicator--black-active': featIndex === $index }" 
                                  ng-click="nextEvent($index)"></span>
                            <!-- <span class="ot-home__slider-indicator ot-home__slider-indicator--black cursor-pointer" 
                                  ng-class="{ 'ot-home__slider-indicator--black-active': featIndex === 0 }" 
                                  ng-click="nextHero(0)"></span>
                            <span class="ot-home__slider-indicator ot-home__slider-indicator--black cursor-pointer" 
                                  ng-class="{ 'ot-home__slider-indicator--black-active': featIndex === 1 }" 
                                  ng-click="nextHero(1)"></span>
                            <span class="ot-home__slider-indicator ot-home__slider-indicator--black cursor-pointer" 
                                  ng-class="{ 'ot-home__slider-indicator--black-active': featIndex === 2 }" 
                                  ng-click="nextHero(2)"></span>
                            <span class="ot-home__slider-indicator ot-home__slider-indicator--black cursor-pointer" 
                                  ng-class="{ 'ot-home__slider-indicator--black-active': featIndex === 3 }" 
                                  ng-click="nextHero(3)"></span> -->
                        </div>
                    </div>
                </div>
            </div>        
        </div>
    </div>

    <div class="parallax__layer parallax__layer--back">
        <div class="ot-home__carousel" ng-repeat="event in EventsPublic track by $index" style="background-image:url({{ event.image.url }})" ng-class="{ 'change-opacity': featIndex == $index }"></div>
    </div>
<!--
  <div class="parallax__layer parallax__layer--deep">
  </div>
-->
</div>


<div id="group4" class="parallax__group home-page">
    <div class="parallax__layer parallax__layer--fore">
        <div class="ot-home__section">
            <div class="ot-home__section-container">

                <div class="ot-home__highlights-section">
                    <div class="ot-home__highlights-section--block-1">
                        <div class="ot-home__section-title">
                            Talent Highlights
                        </div>
                        <div class="ot-home__highlights-talent flex justify-between">
                            <div class="ot-home__highlights-talent--row">
                                <div class="box__talent-highlights" ng-repeat="User in UsersPublic | limitTo:3:0">
                                    <div class="box__background" style="background-image:url({{ User.image.url}})">
                                    </div>
                                    <div class="images__stafflist-rectangle box__talent-highlights_width">
                                        <div class="images__text images__text--smallest images__text--white images--rectangle-top-padding images--mini-bottom-margin box__talent-highlights--text">
                                            {{ User.first_name }}
                                        </div>
                                        <div class="images__text images__text--mini images__text--white box__talent-highlights--text">
                                            {{ User.skills.toString().join(', ') }}
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="ot-home__highlights-talent--row">
                                <div class="box__talent-highlights" ng-repeat="User in UsersPublic | limitTo:3:3">
                                    <div class="box__background" style="background-image:url({{ User.image.url}})">
                                    </div>
                                    <div class="images__stafflist-rectangle box__talent-highlights_width">
                                        <div class="images__text images__text--smallest images__text--white images--rectangle-top-padding images--mini-bottom-margin box__talent-highlights--text">
                                            {{ User.first_name }}
                                        </div>
                                        <div class="images__text images__text--mini images__text--white box__talent-highlights--text">
                                            {{ User.skills.toString().join(', ') }}
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="ot-home__highlights-talent--row hide-mobile">
                                <div class="box__talent-highlights" ng-repeat="User in UsersPublic | limitTo:3:6">
                                    <div class="box__background" style="background-image:url({{ User.image.url}})">
                                    </div>
                                    <div class="images__stafflist-rectangle box__talent-highlights_width">
                                        <div class="images__text images__text--smallest images__text--white images--rectangle-top-padding images--mini-bottom-margin box__talent-highlights--text">
                                            {{ User.first_name }}
                                        </div>
                                        <div class="images__text images__text--mini images__text--white box__talent-highlights--text">
                                            {{ User.skills.toString().join(', ') }}
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="ot-home__highlights-talent--row hide-mobile">
                                <div class="box__talent-highlights" ng-repeat="User in UsersPublic | limitTo:3:9">
                                    <div class="box__background" style="background-image:url({{ User.image.url}})">
                                    </div>
                                    <div class="images__stafflist-rectangle box__talent-highlights_width">
                                        <div class="images__text images__text--smallest images__text--white images--rectangle-top-padding images--mini-bottom-margin box__talent-highlights--text">
                                            {{ User.first_name }}
                                        </div>
                                        <div class="images__text images__text--mini images__text--white box__talent-highlights--text">
                                            {{ User.skills.toString().join(', ') }}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="ot-home__highlights-section--block-2">
                        <div class="ot-home__highlights-section--img-block">
                            <div class="ot-home__intro-section--img" style="background-image: url('../../../assets/images/talenthighlights_iphone_forbrands_homepage.png')"></div>
                        </div>

                        <div class="center">
                            <md-button class="outter__btn outter__btn--long" ng-click="state.go('signedout.brands')">
                                Sign Up and View More
                            </md-button>
                        </div>
                    </div>
                </div>

                <div class="ot-home__section-title ot-home__text-white ot-home__highlights-section--title">
                    Join the Party.
                </div>

                <div class="ot-home__highlights-section--btns">

                    <div class="ot-home__rect-80 flex justify-between">
                        <div class="ot-home__rect ot-home__rect-50--padd ot-home__rect-50 ot-home__rect--mobile-column">
                            <div class="ot-home__rect-title">
                                Brands
                            </div>                        
                            <md-button class="outter__btn" ng-click="goClientSignup()">Sign Up</md-button>
                        </div>

                        <div class="ot-home__rect ot-home__rect-50--padd ot-home__rect-50 ot-home__rect--mobile-column">
                            <div class="ot-home__rect-title">
                                Talent
                            </div>                        
                            <md-button class="outter__btn" ng-click="goSignup()">Apply</md-button>
                        </div>
                    </div>

                    <div class="ot-home__rect ot-home__rect-20 center">
                        <div class="bold">Questions?</div>
                        <a ui-sref="signedout.contact" class="ot-home__text-small">Contact Us</a>
                    </div>

                </div>

            </div>
        </div>          
    </div>
           
    <div class="parallax__layer parallax__layer--base flex flex-column justify-end">
        <div class="ot-home__section--bottom ot-home__home-bg">
        </div>
    </div>
</div>