<div class="old-section old-bg"></div>
<div class="account-switch__section-1 relative" style="z-index: 2">
    <div class="main main__forgot main--basic-bottom-padding mx-auto">
        <div class="main__text main__text--largest main--basic-top-padding mx-auto center">
            Reset your password
        </div>
    </div>
    <form class="form form__signedout mx-auto" name="form" ng-submit="save()" novalidate="">
        <!-- This is view before submission -->
        <div ng-show="form.$invalid || ! form.$submitted">
            <div class="form__text--mid form__forgot mx-auto center">
                Enter your new password below
            </div>
            <div class="form__group">
                <div class="form__input-text">
                    <label class="black" for="password">Password</label>
                    <span class="form__password right">
                        Password should be at least 8 characters long
                    </span>
                </div>
                <input name="password" type="password" class="form__input" id="password" ng-model="password" minlength="8" placeholder="•••••••" required>
                <div ng-if="form.$submitted" ng-messages="form.password.$error" for="password" class="form__error-password">
                    <span class="form__error form__error-pass" ng-message="required">Password is required</span>
                    <span class="form__error form__error-pass" ng-message="minlength">Password must be at least 8 characters</span>
                </div>
            </div>
            <div class="form__group">
                <div class="form__input-text">
                    <label class="black" for="confirm_password">Confirm Password</label>
                </div>
                <input match-password="password" type="password" class="form__input" id="confirm_password" name="confirm_password" ng-model="confirm_password" placeholder="•••••••" required>
                <div ng-if="form.$submitted" ng-messages="form.confirm_password.$error" for="confirm_password" class="form__error-switch">
                    <span class="form__error" ng-message="required">Confirm your password</span>
                    <span class="form__error" ng-message="passwordMatch">Your passwords do not match</span>
                </div>
            </div>
            <button class="form__more old-btn form__text--smallest" type="submit">
                Submit
                <i class="fa fa-caret-right right" aria-hidden="true"></i>
            </button>
        </div>
        <!-- This is view after submission -->
        <div ng-show="form.$valid && form.$submitted">
            <div class="form__text--mid form__forgot mx-auto center">
                Your password has been reset
            </div>
            <button type="button" class="form__more old-btn form__text--smallest" ng-click="goSignin()">
                Log In
                <i class="fa fa-caret-right right" aria-hidden="true"></i>
            </button>
        </div>
    </form>
</div>
<div class="old-section-bottom old-bg flex flex-column justify-end">
</div>