<div id="group1" class="parallax__group">
<!--
    <div class="parallax__layer parallax__layer--base"></div>
-->
    
    <div class="parallax__layer parallax__layer--back">
        <div class="ot-home__carousel" id="hero-talent-signup" ng-if="signupType === 'regular'"></div>
        <div class="ot-home__carousel" id="hero-influencer-signup" ng-if="signupType === 'digital'"></div>
    </div>
</div>

<div id="group6" class="parallax__group">
    <div class="parallax__layer parallax__layer--fore" 
         ng-class="{ 'ot-home__mobile--menu-open-margin-remove': mobileMenu,
                    'ot-home__top-margin-0-important': modalLogin }">
        <div class="ot-home__signup--section">
            <div class="ot-home__signup--section-container">
                <form name="form" class="ot-form" ng-submit="save()" name="form" novalidate>
                    <div class="ot-form__title bottom-margin-0">
                        {{ signupType === 'digital' ? 'Content Creator' : 'Talent' }} Application
                        <div>Step 1 of {{ signupType === 'digital' ? 2 : 3 }}</div>
                    </div>
                    <div class="ot-form__sub-title center flex flex-column">
                        <div class="bold">
                            Already Registered?
                        </div>
                        <div>
                            Click <span class="bold cursor-pointer outline-none" ng-click="goSignin()">here</span> to log in.
                        </div>
                    </div>
                    <div class="ot-form__group relative" form-error="form.first_name">
                        <div class="ot-form__label">First Name</div>
                        <input class="ot-form__input" type="text" name="first_name" placeholder="James" required maxlength="50" 
                               ng-pattern="nameRegexp" 
                               ng-model="User.first_name" 
                               ng-class="{ 'ot-form__input-error': form.$submitted && form.first_name.$invalid }">

                        <div ng-if="form.$submitted" ng-messages="form.first_name.$error" for="first_name" class="ot-form__box-error">
                            <span class="ot-form__error" ng-message="required">First name is required</span>
                            <span class="ot-form__error" ng-message="maxlength">Only 50 characters allowed</span>
                            <span class="ot-form__error" ng-message="pattern">Only symbols allowed</span>
                        </div>
                    </div>
                    <div class="ot-form__group relative" form-error="form.last_name">
                        <div class="ot-form__label">Last Name</div>
                        <input class="ot-form__input" type="text" name="last_name" placeholder="Wilson" required maxlength="50" 
                               ng-pattern="nameRegexp" 
                               ng-model="User.last_name" 
                               ng-class="{ 'ot-form__input-error': form.$submitted && form.last_name.$invalid }">

                        <div ng-if="form.$submitted" ng-messages="form.last_name.$error" for="last_name" class="ot-form__box-error">
                            <span class="ot-form__error" ng-message="required">Last name is required</span>
                            <span class="ot-form__error" ng-message="maxlength">Only 50 characters allowed</span>
                            <span class="ot-form__error" ng-message="pattern">Only symbols allowed</span>
                        </div>
                    </div>
                    <div class="ot-form__group relative" form-error="form.email">
                        <div class="ot-form__label">Email</div>
                        <input class="ot-form__input" type="email" name="email" placeholder="email@gmail.com" server-validators="errors" required 
                               ng-model="User.email" 
                               ng-class="{ 'ot-form__input-error': form.$submitted && form.email.$invalid }">

                        <div ng-if="form.$submitted" ng-messages="form.email.$error" for="email" class="ot-form__box-error">
                            <span class="ot-form__error" ng-message="required">Email is required</span>
                            <span class="ot-form__error" ng-message="email">Enter a valid email</span>
                            <span class="ot-form__error" ng-message="unique">Email is already taken</span>
                        </div>
                    </div>
                    <div class="ot-form__group relative" form-error="form.password">
                        <div class="ot-form__label">Password</div>
                        <div class="ot-form__label ot-form--smallest-text ot-form__sub-label">At least 8 characters long</div>
                        <input class="ot-form__input" type="password" name="password" placeholder="•••••••" minlength="8" maxlength="32" required 
                               ng-model="User.password" 
                               ng-class="{ 'ot-form__input-error': form.$submitted && form.password.$invalid }">

                        <div ng-if="form.$submitted" ng-messages="form.password.$error" for="password" class="ot-form__box-error">
                            <span class="ot-form__error" ng-message="required">Password is required</span>
                            <span class="ot-form__error" ng-message="minlength">Password must be at least 8 characters</span>
                            <span class="ot-form__error" ng-message="maxlength">Password should be 32 characters max</span>
                        </div>
                    </div>
                    <div class="ot-form__group relative" form-error="form.confirm_password">
                        <div class="ot-form__label">Confirm Password</div>
                        <input match-password="password" class="ot-form__input" type="password" id="confirm_password" name="confirm_password" placeholder="•••••••" required 
                               ng-model="confirm_password" 
                               ng-class="{ 'ot-form__input-error': form.$submitted && form.confirm_password.$invalid }">

                        <div ng-if="form.$submitted" ng-messages="form.confirm_password.$error" for="confirm_password" class="ot-form__box-error">
                            <span class="ot-form__error" ng-message="required">Confirm your password</span>
                            <span class="ot-form__error" ng-message="passwordMatch">Your passwords do not match</span>
                        </div>
                    </div>
                    <div class="ot-form__group bottom-margin-0">
                        <md-button type="submit" class="outter__btn" 
                                   ng-disabled="loader.loading">Apply</md-button>
                    </div>
                </form>
                <div class="center ot-home__signup--agree">
                    By applying you agree to our <a ui-sref="signedout.terms" class="bold black">Terms of Service</a> and <a ui-sref="signedout.privacy" class="bold black">Privacy Policy</a>.
                </div>
            </div>
        </div>
    </div>

    <div class="parallax__layer parallax__layer--base flex flex-column justify-end">
        <div class="ot-home__section--bottom ot-home__talent-bg">
        </div>
    </div>
</div>