<div id="group1" class="parallax__group">
    <div class="parallax__layer parallax__layer--base">
        <div class="ot-home__section flex flex-column justify-end">
            <div class="ot-home__main-section mx-auto flex flex-column justify-between">
                <div class="ot-home__main-section--text-block flex justify-start">
                    <div class="ot-home__main-section--block ot-home__main-section--block-left flex flex-column justify-between">
                        <div>
                            <div class="ot-home__main-title">
                                Get discovered by<br>world-class brands.
                            </div>
                            <div class="bold ot-home__main-subtitle">
                                Powering the personal brand.
                            </div>
                        </div>
                        <div class="ot-home__text-small ot-home__main-talent-info">
                            <div class="ot-home__main-talent-info--str">Anhkti</div>
                            <div class="ot-home__main-talent-info--str">Beauty Influencer</div>
                            <div class="ot-home__main-talent-info--stars">
                                <span class="ot-home__rating">
                                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" class="ot-home__rating--star"><path fill="none" d="M0 0h18v18H0V0z"/><path d="M9 11.3l3.71 2.7-1.42-4.36L15 7h-4.55L9 2.5 7.55 7H3l3.71 2.64L5.29 14 9 11.3z"/></svg>
                                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" class="ot-home__rating--star"><path fill="none" d="M0 0h18v18H0V0z"/><path d="M9 11.3l3.71 2.7-1.42-4.36L15 7h-4.55L9 2.5 7.55 7H3l3.71 2.64L5.29 14 9 11.3z"/></svg>
                                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" class="ot-home__rating--star"><path fill="none" d="M0 0h18v18H0V0z"/><path d="M9 11.3l3.71 2.7-1.42-4.36L15 7h-4.55L9 2.5 7.55 7H3l3.71 2.64L5.29 14 9 11.3z"/></svg>
                                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" class="ot-home__rating--star"><path fill="none" d="M0 0h18v18H0V0z"/><path d="M9 11.3l3.71 2.7-1.42-4.36L15 7h-4.55L9 2.5 7.55 7H3l3.71 2.64L5.29 14 9 11.3z"/></svg>
                                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" class="ot-home__rating--star"><path fill="none" d="M0 0h18v18H0V0z"/><path d="M9 11.3l3.71 2.7-1.42-4.36L15 7h-4.55L9 2.5 7.55 7H3l3.71 2.64L5.29 14 9 11.3z"/></svg>
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="ot-home__main-section--block ot-home__main-section--block-right flex flex-end items-end">
                    </div>
                </div>

                <div class="ot-home__main-section--btns-1110 hide-mobile-700">
                    <div class="ot-home__rect ot-home__rect-talent ot-home__rect-100 flex items-center justify-between">
                        <div>
                            <div class="ot-home__rect-title">
                                Talent
                            </div>                        
                            <div class="ot-home__rect-text">
                                Create Your Profile and Get Booked
                            </div>
                        </div>
                        <div class="ot-home__rect-btns flex">
                            <md-button class="outter__btn" ng-click="goSignup()">Apply</md-button>
                            <md-button class="outter__btn" ng-click="goSignin()">Log In</md-button>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
    
    <div class="parallax__layer parallax__layer--back">
        <div class="ot-home__carousel" id="hero-talent"></div>
    </div>
</div>  
    
    
<div id="group2" class="parallax__group talent-page">
    <div class="parallax__layer parallax__layer--fore" ng-class="{ 'ot-home__mobile--menu-open-margin-remove': mobileMenu || modalLogin || covidWarning }">
        <div class="ot-home__section">
            <div class="ot-home__section-container">
                <div class="ot-home__intro-section--row hide-700">
                    <div class="ot-home__rect ot-home__rect-talent">
                        <div>
                            <div class="ot-home__rect-title">
                                Talent
                            </div>                        
                            <div class="ot-home__rect-text">
                                Create Your Profile and Get Booked
                            </div>
                        </div>
                        <div class="ot-home__rect-btns flex">
                            <md-button class="outter__btn" ng-click="goSignup()">Apply</md-button>
                            <md-button class="outter__btn" ng-click="goSignin()">Log In</md-button>
                        </div>
                    </div>        
                </div>

                <div class="ot-home__intro-section">
                    <div class="ot-home__intro-section--title mx-auto">
                        <div class="ot-home__section-title">
                            Outfit Influencer Platform: Connecting Content  Creators with Brands.
                        </div>
                    </div>
                    <div class="bottom-padding-40 ot-home__text-small--mobile">
                        Outfit connects influencers & content creators with word-class brands. No agent needed - Sign up, get discovered & get paid.
                    </div>

                    <div class="bold bottom-padding-40 ot-home__text-small--mobile">
                        We’re Your Agent in Your Pocket.
                    </div>
                    
                    <div class="bottom-padding-40 ot-home__text-small--mobile">
                        Outfit is a talent-first platform for content creators to build and monetize their personal brand.
                    </div>

                    <div class="bold bottom-padding-40 ot-home__text-small--mobile">
                        How it Works:
                    </div>

                    <div class="ot-home__intro-section--row ot-home__intro-section--row-brands-marg">
                        <div class="ot-home__intro-section--img-block">
                            <div class="ot-home__intro-section--laptop">
                                <div class="ot-home__intro-section--img" style="background-image: url(../../../assets/images/talent/howitworks/outfit_fortalent_howitworks_1.png)"></div>
                            </div>
                        </div>

                        <div class="ot-home__intro-section--text-block">
                            <div class="ot-home__intro-section--text-block--number ot-home__intro-section--text-block--str-padd">1</div>
                            <div class="bold ot-home__intro-section--text-block--str-padd">
                                Create a profile
                            </div>
                            <div class="">
                                Sign up, get approved and create an awesome profile.
                            </div>
                        </div>
                    </div>

                    <div class="ot-home__intro-section--row ot-home__intro-section--row-brands-marg">
                        <div class="ot-home__intro-section--text-block mobile-order-3">
                            <div class="ot-home__intro-section--text-block--number ot-home__intro-section--text-block--str-padd">2</div>
                            <div class="bold ot-home__intro-section--text-block--str-padd">
                                Get discovered
                            </div>
                            <div>
                                Once you’re approved, brands will begin reaching out to you to work together.
                            </div>
                        </div>

                        <div class="ot-home__intro-section--img-block-25 mobile-order-2">
                            <div class="ot-home__intro-section--phone">
                                <div class="ot-home__intro-section--img" style="background-image: url(../../../assets/images/talent/howitworks/outfit_fortalent_howitworks_2.png)"></div>
                            </div>
                        </div>
                    </div>              

                    <div class="ot-home__intro-section--row ot-home__intro-section--row-brands-marg">
                        <div class="ot-home__intro-section--img-block flex flex-column justify-center">
                            <div class="ot-home__intro-section--laptop">
                                <div class="ot-home__intro-section--img" style="background-image: url(../../../assets/images/talent/howitworks/outfit_fortalent_howitworks_3.png)"></div>
                            </div>
                        </div>

                        <div class="ot-home__intro-section--text-block flex flex-column">
                            <!--     margin-top: -100px; margin-bottom: 40px;  для 700-1024 -->
                            <!-- <div style="margin-top: -140px; margin-bottom: 50px;"> -->
                            <div style="margin-bottom: 50px;">
                                <div class="ot-home__intro-section--text-block--number ot-home__intro-section--text-block--str-padd">3</div>
                                <div class="bold ot-home__intro-section--text-block--str-padd">
                                    Do your thing
                                </div>
                                <div>
                                    Get briefed, submit content, and receive feedback. Everything you need, all in-app.
                                </div>
                            </div>
                            <div>
                                <div class="ot-home__intro-section--text-block--number ot-home__intro-section--text-block--str-padd">4</div>
                                <div class="bold ot-home__intro-section--text-block--str-padd">
                                    Get paid
                                </div>
                                <div>
                                    No need to chase up payments. We take care of invoicing. Receive automatic payments instantly.
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="ot-home__intro-section--column flex">
                        <div class="ot-home__intro-section--column-btn-margin">
                            <md-button class="outter__btn" ng-click="goSignup()">Apply</md-button>
                        </div>

                        <div class="ot-home__text-small center ot-home__intro-section--pad-talent">Work the Best Events with the Buzziest Brands</div>
                        <div class="ot-home__intro-section--logos-horizontal">
                            <div class="ot-home__intro-section--img" style="background-image: url(../../../assets/images/outfit_client_logoblock_horizontal.png)"></div>
                        </div>

                        <div class="ot-home__intro-section--logos">
                            <div class="ot-home__intro-section--img" style="background-image: url(../../../assets/images/outfit_client_logoblock.png)"></div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="parallax__layer parallax__layer--base">
    </div>
</div>


<div id="group3" class="parallax__group">
    <div class="parallax__layer parallax__layer--base">
        <div class="ot-home__section">
            <div class="ot-home__rect-container mx-auto top-margin-0">
                <div class="ot-home__rect ot-home__rect-event mx-auto">
                    <div class="ot-home__rect-event--logo">
                        <div class="ot-home__intro-section--img" style="background-image:url({{ EventsPublic[featIndex].logo_src }})"></div>
                    </div>
                    <div class="ot-home__rect-event--info">
                        <div class="ot-home__rect-event--title bold">{{ EventsPublic[featIndex].event_group_title }}</div>
                        <div class="ot-home__text-small">{{ EventsPublic[featIndex].city.title + ', ' + EventsPublic[featIndex].city.region.abbr }}</div>
                    </div>
                    <div class="ot-home__rect-event--indicators">
                        <div class="flex" ng-if="EventsPublic.length > 1">
                            <span class="ot-home__slider-indicator ot-home__slider-indicator--black cursor-pointer" 
                                  ng-repeat="Event in EventsPublic track by $index" 
                                  ng-class="{ 'ot-home__slider-indicator--black-active': featIndex === $index }" 
                                  ng-click="nextEvent($index)"></span>
                            <!-- <span class="ot-home__slider-indicator ot-home__slider-indicator--black cursor-pointer" 
                                  ng-class="{ 'ot-home__slider-indicator--black-active': featIndex === 0 }" 
                                  ng-click="nextEvent(0)"></span>
                            <span class="ot-home__slider-indicator ot-home__slider-indicator--black cursor-pointer" 
                                  ng-class="{ 'ot-home__slider-indicator--black-active': featIndex === 1 }" 
                                  ng-click="nextEvent(1)"></span>
                            <span class="ot-home__slider-indicator ot-home__slider-indicator--black cursor-pointer" 
                                  ng-class="{ 'ot-home__slider-indicator--black-active': featIndex === 2 }" 
                                  ng-click="nextEvent(2)"></span>
                            <span class="ot-home__slider-indicator ot-home__slider-indicator--black cursor-pointer" 
                                  ng-class="{ 'ot-home__slider-indicator--black-active': featIndex === 3 }" 
                                  ng-click="nextEvent(3)"></span> -->
                        </div>
                    </div>
                </div>
            </div>        
        </div>
    </div>

    <div class="parallax__layer parallax__layer--back">
        <div class="ot-home__carousel" ng-repeat="event in EventsPublic track by $index" style="background-image:url({{ event.image.url }})" ng-class="{ 'change-opacity': featIndex == $index }"></div>
    </div>
<!--
      <div class="parallax__layer parallax__layer--deep">
      </div>
-->
</div>   
    
        
<div id="group4" class="parallax__group">
    <div class="parallax__layer parallax__layer--fore">
        <div class="ot-home__section">
            <div class="ot-home__section-container">

                <div class="ot-home__highlights-section">
                    <div class="ot-home__highlights-section--block-1">
                        <div class="ot-home__section-title">
                            Talent Highlights
                        </div>
                        <div class="ot-home__highlights-talent flex justify-between">
                            <div class="ot-home__highlights-talent--row">
                                <div class="box__talent-highlights" ng-repeat="User in UsersPublic | limitTo:3:0">
                                    <div class="box__background" style="background-image:url({{ User.image.url}})">
                                    </div>
                                    <div class="images__stafflist-rectangle box__talent-highlights_width">
                                        <div class="images__text images__text--smallest images__text--white images--rectangle-top-padding images--mini-bottom-margin box__talent-highlights--text">
                                            {{ User.first_name }}
                                        </div>
                                        <div class="images__text images__text--mini images__text--white box__talent-highlights--text">
                                            {{ User.skills.toString().join(', ') }}
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="ot-home__highlights-talent--row">
                                <div class="box__talent-highlights" ng-repeat="User in UsersPublic | limitTo:3:3">
                                    <div class="box__background" style="background-image:url({{ User.image.url}})">
                                    </div>
                                    <div class="images__stafflist-rectangle box__talent-highlights_width">
                                        <div class="images__text images__text--smallest images__text--white images--rectangle-top-padding images--mini-bottom-margin box__talent-highlights--text">
                                            {{ User.first_name }}
                                        </div>
                                        <div class="images__text images__text--mini images__text--white box__talent-highlights--text">
                                            {{ User.skills.toString().join(', ') }}
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="ot-home__highlights-talent--row hide-mobile">
                                <div class="box__talent-highlights" ng-repeat="User in UsersPublic | limitTo:3:6">
                                    <div class="box__background" style="background-image:url({{ User.image.url}})">
                                    </div>
                                    <div class="images__stafflist-rectangle box__talent-highlights_width">
                                        <div class="images__text images__text--smallest images__text--white images--rectangle-top-padding images--mini-bottom-margin box__talent-highlights--text">
                                            {{ User.first_name }}
                                        </div>
                                        <div class="images__text images__text--mini images__text--white box__talent-highlights--text">
                                            {{ User.skills.toString().join(', ') }}
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="ot-home__highlights-talent--row hide-mobile">
                                <div class="box__talent-highlights" ng-repeat="User in UsersPublic | limitTo:3:9">
                                    <div class="box__background" style="background-image:url({{ User.image.url}})">
                                    </div>
                                    <div class="images__stafflist-rectangle box__talent-highlights_width">
                                        <div class="images__text images__text--smallest images__text--white images--rectangle-top-padding images--mini-bottom-margin box__talent-highlights--text">
                                            {{ User.first_name }}
                                        </div>
                                        <div class="images__text images__text--mini images__text--white box__talent-highlights--text">
                                            {{ User.skills.toString().join(', ') }}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="ot-home__highlights-section--block-2">
                        <div class="ot-home__highlights-section--img-block">
                            <div class="ot-home__intro-section--img" style="background-image: url('../../../assets/images/talent/talenthighlights_iphone_fortalent.png')"></div>
                        </div>

                        <div class="center">
                            <md-button class="outter__btn outter__btn--long" ng-click="goSignup()">
                                Sign Up and View More
                            </md-button>
                        </div>
                    </div>
                </div>

                <div class="ot-home__section-title ot-home__text-white ot-home__highlights-section--title">
                    Join the Party.
                </div>

                <div class="ot-home__highlights-section--btns">
                    <div class="ot-home__rect-80">
                        <div class="ot-home__rect ot-home__rect-100 ot-home__rect-talent">
                            <div class="ot-home__rect-title">
                                Talent
                            </div>                        
                            <md-button class="outter__btn" ng-click="goSignup()">Apply</md-button>
                        </div>
                    </div>

                    <!-- <div class="ot-home__rect ot-home__rect-20 center">
                        <div class="bold">Questions?</div>
                        <a ui-sref="signedout.contact" class="ot-home__text-small">Contact Us</a>
                    </div> -->
                </div>

            </div>
        </div>  
    </div>

    <div class="parallax__layer parallax__layer--base flex flex-column justify-end">
        <div class="ot-home__section--bottom ot-home__talent-bg">
        </div>
    </div>
</div>